@media screen {
  /* @group ----- Generic HTML Elements ----- */
  /* line 7, sass/_screen.scss */
  * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 11, sass/_screen.scss */
  body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }

  /* line 18, sass/_screen.scss */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  /* line 23, sass/_screen.scss */
  h1,
  h2 {
    font-family: "PT Serif", serif;
  }

  /* line 27, sass/_screen.scss */
  h1 {
    font-size: 32px;
    margin-bottom: 0.75em;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: normal;
  }

  /* line 35, sass/_screen.scss */
  h2 {
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 0.54545em;
  }

  /* line 41, sass/_screen.scss */
  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }

  /* line 47, sass/_screen.scss */
  h4 {
    font-weight: bold;
  }

  /* line 53, sass/_screen.scss */
  h1 a,
  h2 a,
  h3 a {
    text-decoration: none;
  }

  /* line 57, sass/_screen.scss */
  p {
    margin: 0 0 1.5em;
  }

  /* @end */
  /* @group ----- Header ----- */
  /* line 65, sass/_screen.scss */
  header {
    position: relative;
  }

  /* line 70, sass/_screen.scss */
  #title-tagline,
  #searchwrap {
    padding: 0 1.69492%;
  }

  /* line 74, sass/_screen.scss */
  #site-title a {
    text-decoration: none;
    font-size: 24px;
    line-height: 48px;
    margin: 0.5em 0;
    display: inline-block;
  }

  /* line 82, sass/_screen.scss */
  header #about {
    position: relative;
    top: -30px;
    left: 400px;
    width: 320px;
  }

  /* line 91, sass/_screen.scss */
  .browse header #about,
  .show header #about,
  .item header #about {
    display: none;
  }

  /*hides the About copy on inside pages*/
  /* line 95, sass/_screen.scss */
  header #about p {
    font-family: "PT Serif", serif;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: normal;
  }

  /* line 101, sass/_screen.scss */
  header #about .more a {
    font-size: .8em;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1px;
  }

  /* line 108, sass/_screen.scss */
  #searchwrap {
    padding: 0.75em 1.69492%;
  }
  /* line 111, sass/_screen.scss */
  #searchwrap a {
    text-decoration: none;
    padding: 10px 5px 20px 0;
    line-height: 20px;
  }

  /* line 118, sass/_screen.scss */
  #submit_search {
    border: none;
    background-color: transparent;
    padding: 5px 5px 0px 0px;
  }

  /* line 123, sass/_screen.scss */
  #advanced-search-link a {
    text-decoration: none;
    border: none;
    clear: both;
    text-align: right;
    font-size: 1em;
    padding: 4px 0;
    font-weight: bold;
  }

  /* @end */
  /* @group ----- Footer ----- */
  /* line 137, sass/_screen.scss */
  footer {
    clear: both;
    overflow: hidden;
    position: relative;
    padding-top: 3em;
  }

  /* line 144, sass/_screen.scss */
  #footer-text {
    padding: 0 1.69492%;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  /* line 152, sass/_screen.scss */
  nav ul {
    padding: 0;
    margin: 0;
  }

  /* line 157, sass/_screen.scss */
  #primary-nav {
    padding: 0 1.69492%;
  }
  /* line 160, sass/_screen.scss */
  #primary-nav li {
    display: block;
    padding: 0.75em 0 0.75em 1.5em;
    border-color: #ccdd44;
    border-bottom-style: solid;
    border-bottom-width: 0.0625em;
    padding-bottom: 0.6875em;
  }
  /* line 166, sass/_screen.scss */
  #primary-nav li:last-of-type {
    border-color: transparent;
  }

  /* line 173, sass/_screen.scss */
  nav a,
  .navigation a {
    text-decoration: none;
  }

  /* line 177, sass/_screen.scss */
  .navigation li {
    font-weight: normal;
    list-style-type: none;
    padding-left: 20px;
  }

  /* line 183, sass/_screen.scss */
  .secondary-nav li {
    display: inline;
    margin: 0;
    padding: 0;
  }

  /* line 189, sass/_screen.scss */
  .secondary-nav a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    padding: 6px 10px;
    margin: 0;
    letter-spacing: 1px;
  }

  /* line 197, sass/_screen.scss */
  #bottom-nav {
    display: none;
  }

  /* @end */
  /* @group ----- Home ----- */
  /* line 206, sass/_screen.scss */
  #featured-item,
  #featured-collection,
  #featured-exhibit {
    padding: 0.75em 1.69492%;
  }
  /* line 209, sass/_screen.scss */
  #featured-item h2,
  #featured-collection h2,
  #featured-exhibit h2 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0em;
  }
  /* line 217, sass/_screen.scss */
  #featured-item h3,
  #featured-collection h3,
  #featured-exhibit h3 {
    font-family: "PT Serif", serif;
  }
  /* line 221, sass/_screen.scss */
  #featured-item p:last-of-type,
  #featured-collection p:last-of-type,
  #featured-exhibit p:last-of-type {
    margin-bottom: 0em;
  }

  /* line 226, sass/_screen.scss */
  #recent-items {
    margin: 0.75em 1.69492%;
  }

  /* line 230, sass/_screen.scss */
  #recent-items .item-img {
    width: 50px;
    height: 50px;
  }

  /* line 235, sass/_screen.scss */
  #recent-items .item-img img {
    max-width: 100%;
  }

  /* line 239, sass/_screen.scss */
  .item-description .show {
    display: none;
  }

  /* line 243, sass/_screen.scss */
  #home .view-items-link {
    background-color: #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    padding: 0.375em 10px;
    clear: both;
    font-weight: 700;
  }

  /* @end */
  /* @group ----- Items/Browse ----- */
  /* line 255, sass/_screen.scss */
  .browse #content {
    padding: 0 1.69492%;
  }

  /* @end */
  /* line 261, sass/_screen.scss */
  #wrap {
    width: 100%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    padding-top: 3em;
  }

  /* == header == */
  /* remember that padding is the space inside the div box and margin is the space outside the div box */
  /* == primary == */
  /* line 270, sass/_screen.scss */
  #primary ul li {
    font-weight: normal;
    list-style-type: square;
  }

  /* line 274, sass/_screen.scss */
  #primary ul {
    margin-left: 1.2em;
  }

  /* line 277, sass/_screen.scss */
  #primary img.full {
    max-width: 100%;
  }

  /* line 280, sass/_screen.scss */
  .advanced-search #primary {
    width: 920px;
    border: none;
    padding-top: 30px;
  }

  /* == secondary == */
  /* line 287, sass/_screen.scss */
  #secondary {
    float: right;
    width: 310px;
    margin-right: 0px;
    overflow: hidden;
    padding-left: 10px;
  }

  /* ==== END LAYOUT ==== */
  /* ===== TYPOGRAPHY, GENERIC STYLES and MISC CLASSES ======== */
  /* line 300, sass/_screen.scss */
  #secondary h2 {
    text-align: center;
  }

  /* line 305, sass/_screen.scss */
  #secondary dl a {
    text-decoration: none;
  }

  /* line 306, sass/_screen.scss */
  #secondary dl {
    overflow: hidden;
  }

  /* line 307, sass/_screen.scss */
  #secondary dd {
    margin-left: 0px;
    font-weight: normal;
    margin-bottom: 1.5em;
    margin-top: 0;
    padding-top: 5px;
    font-size: .8em;
    line-height: 1.5em;
  }

  /* line 316, sass/_screen.scss */
  #secondary dt {
    margin-left: 0;
    padding-top: 5px;
    margin-top: 10px;
  }

  /* line 321, sass/_screen.scss */
  #secondary dt,
  #secondary dt a {
    font-weight: bold;
  }

  /* line 324, sass/_screen.scss */
  #secondary dd .item-img {
    float: left;
    width: 50px;
    height: 50px;
    margin: 5px 25px 20px 0;
  }

  /*= this is the containing div to force images to 100% width using jquery.imagefit.js; = 
    = this function is applied in custom.js in your theme put margins on the container, not the image =
  */
  /* more specific styles for show page sidebar def list*/
  /* line 335, sass/_screen.scss */
  #secondary #show-sidebar {
    padding: 20px 5px 20px 10px;
  }

  /* line 338, sass/_screen.scss */
  .show #secondary dd {
    margin-left: 10px;
    font-weight: normal;
    margin-bottom: .5em;
  }

  /* line 343, sass/_screen.scss */
  .show #secondary dt {
    margin-left: 0;
    font-weight: bold;
    border: none;
    padding-top: 0px;
  }

  /* line 349, sass/_screen.scss */
  .show #secondary a {
    text-decoration: none;
    font-weight: normal;
  }

  /* line 353, sass/_screen.scss */
  .show .desc {
    clear: left;
  }

  /* line 355, sass/_screen.scss */
  #items_search {
    float: right;
  }

  /* Misc classes */
  /* line 358, sass/_screen.scss */
  .item-pagination {
    overflow: hidden;
    width: 560px;
    margin-bottom: 1.5em;
    padding-top: 2em;
  }

  /* line 364, sass/_screen.scss */
  .item-pagination li.previous {
    display: block;
    float: left;
    width: 20%;
    padding-left: 15px;
  }

  /* line 370, sass/_screen.scss */
  .item-pagination li.next {
    float: right;
    display: block;
    width: 48%;
    text-align: left;
    padding-left: 15px;
  }

  /* line 377, sass/_screen.scss */
  .hide {
    text-indent: -1000em;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  /* line 382, sass/_screen.scss */
  div.error {
    font-size: 1.5em;
    line-height: 1.33333em;
    margin: 1.33333em 0;
  }

  /* line 388, sass/_screen.scss */
  .fltrt {
    /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
    float: right;
    margin-left: 8px;
  }

  /* line 392, sass/_screen.scss */
  .fltlft {
    /* this class can be used to float an element left in your page */
    float: left;
    margin: 0;
    padding: 5px 10px 0 0;
  }

  /* line 397, sass/_screen.scss */
  .clearfloat {
    /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
  }

  /* line 404, sass/_screen.scss */
  ul.item-pagination li {
    background-image: none;
    font-weight: normal;
    list-style-type: none;
    padding-left: 0;
  }

  /* line 410, sass/_screen.scss */
  ul.item-pagination a {
    margin-left: 0;
  }

  /* line 411, sass/_screen.scss */
  ul.title-list {
    padding-left: 0px;
  }

  /* line 412, sass/_screen.scss */
  ul.title-list li {
    list-style-type: square;
    list-style-position: inside;
    font-style: italic;
    line-height: 1.5em;
  }

  /* line 419, sass/_screen.scss */
  ul.exhibit-section-nav {
    margin-top: 2em;
    margin-bottom: .5em;
  }

  /* line 424, sass/_screen.scss */
  #exhibit-page-navigation {
    clear: both;
    margin-bottom: 1em;
    float: right;
  }

  /* line 429, sass/_screen.scss */
  #exhibit-page-navigation .next-page {
    margin-left: 2em;
  }

  /* line 433, sass/_screen.scss */
  #secondary .exhibit-section-nav a {
    text-decoration: none;
  }

  /* line 434, sass/_screen.scss */
  #secondary .exhibit-section-nav a:hover {
    text-decoration: underline;
  }

  /* line 436, sass/_screen.scss */
  #secondary .exhibit-page-nav a {
    text-decoration: none;
  }

  /* line 437, sass/_screen.scss */
  #secondary .exhibit-page-nav a:hover {
    text-decoration: underline;
  }

  /* Microformats */
  /* line 440, sass/_screen.scss */
  .hTagcloud {
    margin-top: 2em;
  }

  /* line 441, sass/_screen.scss */
  .hTagcloud ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 2.2em;
  }

  /* line 447, sass/_screen.scss */
  .hTagcloud li {
    display: inline;
    margin-right: 8px;
    background-image: none;
    margin-left: 0;
    padding-left: 0;
  }

  /* line 455, sass/_screen.scss */
  .popular {
    font-size: 100%;
  }

  /* line 456, sass/_screen.scss */
  .v-popular {
    font-size: 140%;
  }

  /* line 457, sass/_screen.scss */
  .vv-popular {
    font-size: 180%;
  }

  /* line 458, sass/_screen.scss */
  .vvv-popular {
    font-size: 220%;
  }

  /* line 459, sass/_screen.scss */
  .vvvv-popular {
    font-size: 260%;
  }

  /* line 460, sass/_screen.scss */
  .vvvvv-popular {
    font-size: 300%;
  }

  /* line 461, sass/_screen.scss */
  .vvvvvv-popular {
    font-size: 340%;
  }

  /* line 462, sass/_screen.scss */
  .vvvvvvv-popular {
    font-size: 380%;
  }

  /* line 463, sass/_screen.scss */
  .vvvvvvvv-popular {
    font-size: 420%;
  }

  /* == Pagination Navigation ==*/
  /* line 466, sass/_screen.scss */
  .pagination ul {
    text-align: right;
    list-style: none;
    padding: 0 0.5em;
    margin-bottom: 30px;
  }

  /* line 474, sass/_screen.scss */
  .pagination ul li,
  .pagination li,
  .pagination li a {
    font-size: 11px;
  }

  /* line 477, sass/_screen.scss */
  .pagination ul li {
    background: none;
  }

  /* line 478, sass/_screen.scss */
  .pagination li {
    display: inline-block;
    margin-bottom: 0;
    padding: .5em;
  }

  /* line 483, sass/_screen.scss */
  .pagination li a {
    text-decoration: none;
  }

  /* items meta data and browsing pages styles */
  /* line 487, sass/_screen.scss */
  .item {
    float: left;
    clear: both;
    margin-bottom: 30px;
  }

  /* line 492, sass/_screen.scss */
  .item-img img {
    float: left;
    padding: 5px;
    margin: 0 10px 20px 0;
  }

  /* line 497, sass/_screen.scss */
  .show img {
    border: none;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 0;
  }

  /* line 504, sass/_screen.scss */
  .item .desc h4,
  .item .desc p {
    font-weight: normal;
    padding-right: 10px;
    font-size: 1.3em;
    line-height: 150%;
  }

  /* line 510, sass/_screen.scss */
  .item-type {
    font-weight: bold;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* line 515, sass/_screen.scss */
  p.item-type {
    margin-bottom: .5em;
    text-transform: uppercase;
    font-size: .7em;
  }

  /* line 520, sass/_screen.scss */
  .item-meta h3 {
    font-size: 1.33em;
  }

  /* line 522, sass/_screen.scss */
  .tags strong {
    font-size: .9em;
  }

  /* line 524, sass/_screen.scss */
  p.view-items-link a {
    text-decoration: none;
  }

  /* line 526, sass/_screen.scss */
  p.tags {
    margin-bottom: 2em;
  }

  /* .meta-main is the div that positions the item meta data in the primary content area and puts a dashed border above it */
  /* line 529, sass/_screen.scss */
  .meta-main {
    padding: 10px 0 0 100px;
    margin-bottom: 20px;
  }

  /* line 533, sass/_screen.scss */
  .meta-main p {
    text-align: right;
    padding-right: 10px;
  }

  /* line 537, sass/_screen.scss */
  .meta-main .runinHead {
    font-weight: bold;
    font-size: .8em;
  }

  /*featured box styles  --may need to modify properties for these boxes on inside pages 
  and add .home in front of these     selectors--*/
  /* line 544, sass/_screen.scss */
  .featured-box {
    float: left;
    width: 560px;
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
  }

  /* line 551, sass/_screen.scss */
  #secondary .featured-box {
    width: 280px;
    padding: 20px 10px;
  }

  /* line 552, sass/_screen.scss */
  #secondary .featured-box p {
    clear: both;
  }

  /* line 553, sass/_screen.scss */
  #secondary .featured-box p {
    clear: both;
  }

  /* line 558, sass/_screen.scss */
  #secondary .featured-box p .title,
  #secondary .featured-box p .title a,
  #primary .featured-box p .title,
  #primary .featured-box p .title a:visited,
  #secondary .featured-box p .title a:visited {
    text-transform: uppercase;
    font-weight: bold;
  }

  /* line 563, sass/_screen.scss */
  #secondary .featured-box p .title a,
  #primary .featured-box p .title a {
    text-decoration: none;
  }

  /* line 566, sass/_screen.scss */
  #secondary .featured-box img {
    margin-left: 65px;
  }

  /*NOTE: The featured item img in secondary is the square thumbnail, which is constrained to*/
  /* line 567, sass/_screen.scss */
  .featured-box h2 {
    font-family: "PT Serif", serif;
    font-size: 2em;
    margin-bottom: .75em;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
  }

  /* line 576, sass/_screen.scss */
  .featured-box p,
  .description p {
    margin-right: 10px;
  }

  /* line 579, sass/_screen.scss */
  .type-featured {
    text-transform: uppercase;
    margin-top: 10px;
  }

  /*this styles the part of h2 that specifies the type of thing featured--Collection or Exhibit */
  /* line 583, sass/_screen.scss */
  .featured-box.title,
  .featured-box.title a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
  }

  /* line 587, sass/_screen.scss */
  .featured-box img {
    float: left;
    margin: 1em 10px 10px 0;
  }

  /*styles for sidebar featured item */
  /* line 593, sass/_screen.scss */
  #sidebar-featured-item {
    padding-top: 10px;
  }

  /* line 594, sass/_screen.scss */
  .featured img {
    float: left;
    margin: 0 10px;
    padding: 5px;
  }

  /* line 599, sass/_screen.scss */
  #sidebar-featured-item .description p {
    font-weight: normal;
    margin: 0 5px 5px 10px;
    padding-bottom: 20px;
  }

  /* line 604, sass/_screen.scss */
  #sidebar-featured-item h2 {
    text-align: center;
    letter-spacing: 0;
    margin-bottom: 10px;
    font-weight: normal;
  }

  /* line 610, sass/_screen.scss */
  #sidebar-featured-item a {
    text-decoration: none;
  }

  /*Blue styles*/
  /* line 613, sass/_screen.scss */
  .blue #wrap {
    background: white url(../images/blue/bg-top.jpg) top left no-repeat;
  }

  /* line 614, sass/_screen.scss */
  .blue header {
    border-bottom: 5px solid #9ce;
    border-top: 5px solid #9ce;
    background: #3c3231 url(../images/blue/bg_header.gif) repeat top;
  }

  /* line 619, sass/_screen.scss */
  .blue header #about p {
    color: #fff;
  }

  /* line 620, sass/_screen.scss */
  .blue header #about .more a {
    color: #bb8;
  }

  /* line 621, sass/_screen.scss */
  .blue header #about .more a:hover {
    color: #9ce;
  }

  /* line 622, sass/_screen.scss */
  .blue #searchwrap {
    background-color: #9ce;
  }

  /* line 623, sass/_screen.scss */
  .blue #searchwrap a {
    color: #fff;
  }

  /* line 624, sass/_screen.scss */
  .blue #searchwrap a:visited {
    color: #323232;
  }

  /* line 625, sass/_screen.scss */
  .blue #searchwrap a:hover {
    color: #fff;
  }

  /* line 626, sass/_screen.scss */
  .blue header #search {
    border: 5px solid #9ce;
    background: #fff;
  }

  /* line 630, sass/_screen.scss */
  .blue #submit_search {
    color: #fff;
  }

  /* line 631, sass/_screen.scss */
  .blue #advanced-search-link a {
    color: #345;
  }

  /* line 632, sass/_screen.scss */
  .blue #primary-nav {
    background-color: #fff;
  }

  /* line 633, sass/_screen.scss */
  .blue #primary-nav ul li {
    background: url(../images/blue/bullet-omeka.png) no-repeat 0 50%;
  }

  /* line 634, sass/_screen.scss */
  .blue .navigation li {
    color: #3c3c31;
  }

  /* line 635, sass/_screen.scss */
  .blue .navigation a {
    color: #3c3c31;
  }

  /* line 637, sass/_screen.scss */
  .blue #primary-nav a:hover,
  .blue .navigation a:hover {
    color: #9ce;
  }

  /* line 644, sass/_screen.scss */
  .blue #primary-nav .current a,
  .blue .exhibits #primary-nav li.nav-exhibits a,
  .blue .collections #primary-nav li.nav-collections a,
  .blue .about #primary-nav li.nav-about a,
  .blue .items #primary-nav li.nav-items a {
    color: #bb8;
    background-color: #fff;
  }

  /* makes the primary nav link on the current page tan; gets class [exhibits, .collections, .about] from assigned body class in theme php */
  /* == secondary == */
  /* line 649, sass/_screen.scss */
  .blue #secondary {
    border-left: 1px solid #9ce;
  }

  /* == footer == */
  /* line 651, sass/_screen.scss */
  .blue footer {
    background: white url(../images/blue/bg-footer.jpg) no-repeat left top;
  }

  /* line 652, sass/_screen.scss */
  .blue footer .navigation {
    background: #fff;
  }

  /* line 653, sass/_screen.scss */
  .blue footer .navigation li {
    background: transparent url(../images/blue/bullet-omeka.png) no-repeat scroll 0 50%;
  }

  /* line 654, sass/_screen.scss */
  .blue footer .navigation a {
    color: #323231;
  }

  /* line 655, sass/_screen.scss */
  .blue footer .navigation .current a {
    color: #BBBB88;
  }

  /* line 656, sass/_screen.scss */
  .blue footer footer-text {
    color: #000;
  }

  /* line 657, sass/_screen.scss */
  .blue body {
    color: #3c3231;
    background-color: #3c3231;
  }

  /* line 661, sass/_screen.scss */
  .blue #primary h1 {
    color: #543;
  }

  /* line 662, sass/_screen.scss */
  .blue h2 {
    color: #9ce;
  }

  /* line 664, sass/_screen.scss */
  .blue h3,
  .blue h4 {
    color: #bb8;
  }

  /* line 671, sass/_screen.scss */
  .blue p,
  .blue .exhibit .description,
  .blue .exhibit-item,
  .blue .exhibit-text,
  .blue .item-description {
    color: #3c3c31;
  }

  /* line 674, sass/_screen.scss */
  .blue p.sitetitle {
    color: #fff;
  }

  /* line 675, sass/_screen.scss */
  .blue p.sitetitle a {
    color: #fff;
  }

  /* line 676, sass/_screen.scss */
  .blue p.tagline {
    color: #fff;
  }

  /* line 677, sass/_screen.scss */
  .blue .exhibit .tags {
    color: #3c3c31;
  }

  /* line 678, sass/_screen.scss */
  .blue .exhibit .tags a {
    color: #9ce;
  }

  /* line 679, sass/_screen.scss */
  .blue a:link {
    color: #9ce;
  }

  /* line 680, sass/_screen.scss */
  .blue a:visited {
    color: #9ce;
  }

  /* line 681, sass/_screen.scss */
  .blue a:hover {
    color: #3c3c31;
  }

  /* line 682, sass/_screen.scss */
  .blue a:active {
    color: #ddb;
  }

  /* line 684, sass/_screen.scss */
  .blue .archive a:link {
    color: #9ce;
  }

  /* line 685, sass/_screen.scss */
  .blue .archive a:visited {
    color: #9ce;
  }

  /* line 686, sass/_screen.scss */
  .blue .archive a:hover {
    color: #9ce;
  }

  /* line 687, sass/_screen.scss */
  .blue .archive a:active {
    color: #9ce;
  }

  /* line 689, sass/_screen.scss */
  .blue header h1 a {
    color: #fff;
  }

  /* line 691, sass/_screen.scss */
  .blue #secondary h2 {
    color: #554422;
  }

  /* line 694, sass/_screen.scss */
  .blue #secondary dl,
  .blue #secondary dt a {
    color: #323232;
  }

  /* line 697, sass/_screen.scss */
  .blue #secondary dt {
    border-top: 1px dashed #bb8;
  }

  /* line 698, sass/_screen.scss */
  .blue #secondary #show-sidebar {
    background-color: #eed;
    border-top: 1px dashed #bb8;
    border-bottom: 1px dashed #bb8;
  }

  /* line 703, sass/_screen.scss */
  .blue .show #secondary dl {
    color: #544;
  }

  /* line 705, sass/_screen.scss */
  .blue .show #secondary a {
    color: #000;
  }

  /* line 707, sass/_screen.scss */
  .blue .show #secondary a:hover {
    color: #fff;
  }

  /* line 708, sass/_screen.scss */
  .blue .advanced-search form {
    background-color: #9ce;
  }

  /* line 710, sass/_screen.scss */
  .blue label,
  .blue .label {
    color: #000;
  }

  /* line 713, sass/_screen.scss */
  .blue .field {
    border-bottom: 1px dashed #fff;
  }

  /* line 715, sass/_screen.scss */
  .blue .field .textinput,
  .blue .field select {
    background-color: #fff;
  }

  /* line 719, sass/_screen.scss */
  .blue textarea#rights {
    color: #444;
  }

  /* line 720, sass/_screen.scss */
  .blue ul.navigation li {
    background: url(../images/blue/bullet-omeka.png) no-repeat 0 50%;
  }

  /* line 721, sass/_screen.scss */
  .blue ul.title-list li {
    color: #543;
  }

  /* line 722, sass/_screen.scss */
  .blue #secondary .exhibit-section-nav a {
    color: #554;
  }

  /* line 723, sass/_screen.scss */
  .blue #secondary .exhibit-section-nav a:hover {
    color: #bb8;
  }

  /* line 724, sass/_screen.scss */
  .blue #secondary .exhibit-section-nav .current a {
    color: #bb8;
  }

  /* line 726, sass/_screen.scss */
  .blue #secondary .exhibit-page-nav a {
    color: #554;
  }

  /* line 727, sass/_screen.scss */
  .blue #secondary .exhibit-page-nav a:hover {
    color: #bb8;
  }

  /* line 728, sass/_screen.scss */
  .blue #secondary .exhibit-page-nav .current a {
    color: #bb8;
  }

  /* line 730, sass/_screen.scss */
  .blue .popular a, .blue .popular a:visited {
    color: #3c3c31;
  }

  /* line 731, sass/_screen.scss */
  .blue .v-popular a, .blue .v-popular a:visited {
    color: #3c3c31;
  }

  /* line 732, sass/_screen.scss */
  .blue .vv-popular a, .blue .vv-popular a:visited {
    color: #3c3c31;
  }

  /* line 733, sass/_screen.scss */
  .blue .vvv-popular a, .blue .vvv-popular a:visited {
    color: #7ac;
  }

  /* line 734, sass/_screen.scss */
  .blue .vvvv-popular a, .blue .vvvv-popular a:visited {
    color: #7ac;
  }

  /* line 735, sass/_screen.scss */
  .blue .vvvvv-popular a, .blue .vvvvv-popular a:visited {
    color: #9ce;
  }

  /* line 736, sass/_screen.scss */
  .blue .vvvvvv-popular a, .blue .vvvvvv-popular a:visited {
    color: #9ce;
  }

  /* line 737, sass/_screen.scss */
  .blue .vvvvvvv-popular a, .blue .vvvvvvv-popular a:visited {
    color: #9ce;
  }

  /* line 738, sass/_screen.scss */
  .blue .vvvvvvvv-popular a, .blue .vvvvvvvv-popular a:visited {
    color: #9ce;
  }

  /* line 740, sass/_screen.scss */
  .blue .secondary-nav a {
    color: #fff;
  }

  /* line 742, sass/_screen.scss */
  .blue .secondary-nav a:link,
  .blue .secondary-nav a:visited {
    background-color: #bb8;
  }

  /* line 746, sass/_screen.scss */
  .blue .secondary-nav a:hover,
  .blue .secondary-nav a:active {
    background-color: #9ce;
  }

  /* line 749, sass/_screen.scss */
  .blue .secondary-nav li.current a {
    background: #3c3c31;
  }

  /* line 750, sass/_screen.scss */
  .blue .pagination_current {
    color: #cca;
  }

  /* line 752, sass/_screen.scss */
  .blue .pagination li a {
    color: #323232;
  }

  /* line 753, sass/_screen.scss */
  .blue .pagination li a:hover {
    color: #9ce;
  }

  /* line 757, sass/_screen.scss */
  .blue .pagination ul li.pagination_next a,
  .blue .pagination ul li.pagination_last a,
  .blue .pagination ul li.pagination_previous a,
  .blue .pagination ul li.pagination_first a {
    color: #9ce;
  }

  /* line 763, sass/_screen.scss */
  .blue .pagination ul li.pagination_next a:hover,
  .blue .pagination ul li.pagination_last a:hover,
  .blue .pagination ul li.pagination_previous a:hover,
  .blue .pagination ul li.pagination_first a:hover {
    color: #3c3c31;
  }

  /* line 766, sass/_screen.scss */
  .blue .item-img img {
    border: 1px solid #ddb;
  }

  /* line 767, sass/_screen.scss */
  .blue .item-type {
    color: #554433;
  }

  /* line 768, sass/_screen.scss */
  .blue .item-meta {
    border-top: 1px dashed #ddb;
  }

  /* line 769, sass/_screen.scss */
  .blue p.view-items-link {
    color: #554;
  }

  /* line 770, sass/_screen.scss */
  .blue p.view-items-link a {
    color: #554;
  }

  /* line 771, sass/_screen.scss */
  .blue .meta-main {
    border-top: 1px dashed #ddb;
  }

  /* line 772, sass/_screen.scss */
  .blue .meta-main .runinHead {
    color: #543;
  }

  /* line 777, sass/_screen.scss */
  .blue #secondary .featured-box p .title,
  .blue #secondary .featured-box p .title a,
  .blue #primary .featured-box p .title,
  .blue #primary .featured-box p .title a:visited,
  .blue #secondary .featured-box p .title a:visited {
    color: #fff;
  }

  /* line 781, sass/_screen.scss */
  .blue #secondary .featured-box p .title a,
  .blue #primary .featured-box p .title a {
    color: #fff;
  }

  /* line 784, sass/_screen.scss */
  .blue .featured-box h2 {
    color: #3c3c31;
    border-bottom: 1px dashed white;
  }

  /* line 788, sass/_screen.scss */
  .blue .featured-box.title a {
    color: #fff;
  }

  /* line 789, sass/_screen.scss */
  .blue .featured-box.title a:visited {
    color: #fff;
  }

  /* this styles the title of featured item in the start of the featured-box p */
  /* line 790, sass/_screen.scss */
  .blue .featured-box img {
    border: 10px solid #fff;
  }

  /* line 792, sass/_screen.scss */
  .blue #featured-exhibit,
  .blue #featured-item {
    background-color: #bb8;
  }

  /* line 795, sass/_screen.scss */
  .blue #featured-collection {
    background-color: #9ce;
  }

  /* line 796, sass/_screen.scss */
  .blue #featured-collection.featured-box a:link {
    color: #554422;
  }

  /* line 797, sass/_screen.scss */
  .blue #featured-collection.featured-box a:visited {
    color: #554422;
  }

  /* line 798, sass/_screen.scss */
  .blue #sidebar-featured-item {
    background: #544;
  }

  /* line 799, sass/_screen.scss */
  .blue .featured img {
    border: 1px solid #ddb;
    background: #fff;
  }

  /* line 803, sass/_screen.scss */
  .blue #sidebar-featured-item .description p {
    color: #fff;
  }

  /* line 804, sass/_screen.scss */
  .blue #sidebar-featured-item h2 {
    color: #fff;
  }

  /* line 805, sass/_screen.scss */
  .blue #sidebar-featured-item a {
    color: #fff;
  }

  /* line 806, sass/_screen.scss */
  .blue #featured-item a:hover {
    color: #9ce;
  }

  /*Fall Styles*/
  /* line 809, sass/_screen.scss */
  #wrap {
    background: #fffff7 url(../images/fall/bg-top.png) top left no-repeat;
  }

  /* line 810, sass/_screen.scss */
  header {
    border-bottom: 5px solid #cc9933;
    border-top: 5px solid #cc9933;
    background: #3d3d3d url(../images/fall/bg-header.png) repeat top;
  }

  /* line 815, sass/_screen.scss */
  header #about p {
    color: #fffff7;
  }

  /* line 816, sass/_screen.scss */
  header #about .more a {
    color: #b3ad9c;
  }

  /* line 817, sass/_screen.scss */
  header #about .more a:hover {
    color: #cc9933;
  }

  /* line 818, sass/_screen.scss */
  #searchwrap {
    background-color: #cc9933;
  }

  /* line 819, sass/_screen.scss */
  #searchwrap a {
    color: #fffff7;
  }

  /* line 820, sass/_screen.scss */
  #searchwrap a:visited {
    color: #221111;
  }

  /* line 821, sass/_screen.scss */
  #searchwrap a:hover {
    color: #fffff7;
  }

  /* line 822, sass/_screen.scss */
  header #search {
    border: 5px solid #cc9933;
    background: #fffff7;
  }

  /* line 823, sass/_screen.scss */
  #submit_search {
    color: #fffff7;
  }

  /* line 824, sass/_screen.scss */
  #advanced-search-link a {
    color: #345;
  }

  /* line 825, sass/_screen.scss */
  #primary-nav {
    position: relative;
    background-color: #fffff7;
  }

  /* line 829, sass/_screen.scss */
  #primary-nav ul li {
    background: url(../images/fall/bullet-omeka.png) no-repeat 0 50%;
  }

  /* line 831, sass/_screen.scss */
  #primary-nav li,
  .navigation li {
    color: #221111;
  }

  /* line 835, sass/_screen.scss */
  #primary-nav a,
  .navigation a {
    color: #221111;
  }

  /* line 839, sass/_screen.scss */
  #primary-nav a:hover,
  .navigation a:hover {
    color: #cc9933;
  }

  /* line 846, sass/_screen.scss */
  #primary-nav .current a,
  .exhibits #primary-nav li.nav-exhibits a,
  .collections #primary-nav li.nav-collections a,
  .about #primary-nav li.nav-about a,
  .items #primary-nav li.nav-items a {
    color: #cc9933;
    background-color: #fffff7;
  }

  /* line 850, sass/_screen.scss */
  #secondary {
    border-left: 1px solid #cc9933;
  }

  /* line 851, sass/_screen.scss */
  footer {
    background: #fffff7 url(../images/fall/bg-footer.png) no-repeat left top;
  }

  /* line 852, sass/_screen.scss */
  footer .navigation {
    background: #fffff7;
  }

  /* line 853, sass/_screen.scss */
  footer .navigation li {
    background: transparent url(../images/fall/bullet-omeka.png) no-repeat scroll 0 50%;
  }

  /* line 854, sass/_screen.scss */
  footer .navigation a {
    color: #221111;
  }

  /* line 855, sass/_screen.scss */
  footer .navigation .current a {
    color: #b3ad9c;
  }

  /* line 856, sass/_screen.scss */
  footer footer-text {
    color: #000;
  }

  /* line 857, sass/_screen.scss */
  body {
    color: #332211;
    background-color: #b3ad9c;
  }

  /* line 861, sass/_screen.scss */
  #primary h1 {
    color: #543;
  }

  /* line 862, sass/_screen.scss */
  h2 {
    color: #cc9933;
  }

  /* line 864, sass/_screen.scss */
  h3,
  h4 {
    color: #b3ad9c;
  }

  /* line 870, sass/_screen.scss */
  p,
  .exhibit .description,
  .exhibit-item,
  .exhibit-text {
    color: #221111;
  }

  /* line 873, sass/_screen.scss */
  p.sitetitle {
    color: #fff;
  }

  /* line 874, sass/_screen.scss */
  p.sitetitle a {
    color: #fff;
  }

  /* line 875, sass/_screen.scss */
  p.tagline {
    color: #fff;
  }

  /* line 876, sass/_screen.scss */
  .exhibit .tags {
    color: #221111;
  }

  /* line 877, sass/_screen.scss */
  .exhibit .tags a {
    color: #cc9933;
  }

  /* line 878, sass/_screen.scss */
  a:link {
    color: #770000;
  }

  /* line 879, sass/_screen.scss */
  a:visited {
    color: #3d3d3d;
  }

  /* line 880, sass/_screen.scss */
  a:hover {
    color: #cc9933;
  }

  /* line 881, sass/_screen.scss */
  a:active {
    color: #cc9933;
  }

  /* line 882, sass/_screen.scss */
  .archive a:link {
    color: #770000;
  }

  /* line 883, sass/_screen.scss */
  .archive a:visited {
    color: #3d3d3d;
  }

  /* line 884, sass/_screen.scss */
  .archive a:hover {
    color: #cc9933;
  }

  /* line 885, sass/_screen.scss */
  .archive a:active {
    color: #cc9933;
  }

  /* line 886, sass/_screen.scss */
  .tags a:link {
    color: #c93;
  }

  /* line 887, sass/_screen.scss */
  .tags a:hover {
    color: #700;
  }

  /* line 888, sass/_screen.scss */
  header h1 a {
    color: #fff;
  }

  /* line 889, sass/_screen.scss */
  #secondary h2 {
    color: #770000;
  }

  /* line 890, sass/_screen.scss */
  #secondary #featured-item h2 {
    color: #221111;
  }

  /* line 892, sass/_screen.scss */
  #secondary dl,
  #secondary dt a {
    color: #221111;
  }

  /* line 895, sass/_screen.scss */
  #secondary dt {
    border-top: 1px dashed #b3ad9c;
  }

  /* line 896, sass/_screen.scss */
  #secondary #show-sidebar {
    background-color: #eed;
    border-top: 1px dashed #b3ad9c;
    border-bottom: 1px dashed #b3ad9c;
  }

  /* line 901, sass/_screen.scss */
  .show #secondary dl {
    color: #544;
  }

  /* line 902, sass/_screen.scss */
  .show #secondary a {
    color: #000;
  }

  /* line 903, sass/_screen.scss */
  .show #secondary a:hover {
    color: #fff;
  }

  /* line 904, sass/_screen.scss */
  .advanced-search form {
    background-color: #cc9933;
  }

  /* line 906, sass/_screen.scss */
  label,
  .label {
    color: #000;
  }

  /* line 907, sass/_screen.scss */
  .field {
    border-bottom: 1px dashed #fff;
  }

  /* line 909, sass/_screen.scss */
  .field .textinput,
  .field select {
    background-color: #fff;
  }

  /* line 912, sass/_screen.scss */
  textarea#rights {
    color: #444;
  }

  /* line 913, sass/_screen.scss */
  ul.navigation li {
    background: url(../images/fall/bullet-omeka.png) no-repeat 0 50%;
  }

  /* line 914, sass/_screen.scss */
  ul.title-list li {
    color: #543;
  }

  /* line 915, sass/_screen.scss */
  #secondary .exhibit-section-nav a {
    color: #770000;
  }

  /* line 916, sass/_screen.scss */
  #secondary .exhibit-section-nav a:hover {
    color: #c93;
  }

  /* line 917, sass/_screen.scss */
  #secondary .exhibit-section-nav .current a {
    color: #c93;
  }

  /* line 918, sass/_screen.scss */
  #secondary .exhibit-page-nav a {
    color: #770000;
  }

  /* line 919, sass/_screen.scss */
  #secondary .exhibit-page-nav a:hover {
    color: #c93;
  }

  /* line 920, sass/_screen.scss */
  #secondary .exhibit-page-nav .current a {
    color: #c93;
  }

  /* line 921, sass/_screen.scss */
  .popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 921, sass/_screen.scss */
  .popular a:visited {
    color: #777;
  }

  /* line 922, sass/_screen.scss */
  .v-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 922, sass/_screen.scss */
  .v-popular a:visited {
    color: #777;
  }

  /* line 923, sass/_screen.scss */
  .vv-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 923, sass/_screen.scss */
  .vv-popular a:visited {
    color: #777;
  }

  /* line 924, sass/_screen.scss */
  .vvv-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 924, sass/_screen.scss */
  .vvv-popular a:visited {
    color: #777;
  }

  /* line 925, sass/_screen.scss */
  .vvvv-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 925, sass/_screen.scss */
  .vvvv-popular a:visited {
    color: #777;
  }

  /* line 926, sass/_screen.scss */
  .vvvvv-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 926, sass/_screen.scss */
  .vvvvv-popular a:visited {
    color: #777;
  }

  /* line 927, sass/_screen.scss */
  .vvvvvv-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 927, sass/_screen.scss */
  .vvvvvv-popular a:visited {
    color: #777;
  }

  /* line 928, sass/_screen.scss */
  .vvvvvvv-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 928, sass/_screen.scss */
  .vvvvvvv-popular a:visited {
    color: #777;
  }

  /* line 929, sass/_screen.scss */
  .vvvvvvvv-popular a {
    color: #cc9933;
    text-decoration: none;
  }

  /* line 929, sass/_screen.scss */
  .vvvvvvvv-popular a:visited {
    color: #777;
  }

  /* line 930, sass/_screen.scss */
  .secondary-nav a {
    color: #fff;
  }

  /* line 932, sass/_screen.scss */
  .secondary-nav a:link,
  .secondary-nav a:visited {
    background-color: #900;
  }

  /* line 934, sass/_screen.scss */
  .secondary-nav a:hover,
  .secondary-nav a:active {
    background-color: #c93;
  }

  /* line 937, sass/_screen.scss */
  .secondary-nav li.current a {
    background: #211;
  }

  /* line 938, sass/_screen.scss */
  .pagination_current {
    color: #cc9933;
  }

  /* line 939, sass/_screen.scss */
  .pagination li a {
    color: #221111;
  }

  /* line 940, sass/_screen.scss */
  .pagination li a:hover {
    color: #cc9933;
  }

  /* line 944, sass/_screen.scss */
  .pagination ul li.pagination_next a,
  .pagination ul li.pagination_last a,
  .pagination ul li.pagination_previous a,
  .pagination ul li.pagination_first a {
    color: #cc9933;
  }

  /* line 950, sass/_screen.scss */
  .pagination ul li.pagination_next a:hover,
  .pagination ul li.pagination_last a:hover,
  .pagination ul li.pagination_previous a:hover,
  .pagination ul li.pagination_first a:hover {
    color: #770000;
  }

  /* line 953, sass/_screen.scss */
  .item-img img {
    border: 1px solid #b3ad9c;
  }

  /* line 954, sass/_screen.scss */
  .item-type {
    color: #554433;
  }

  /* line 955, sass/_screen.scss */
  .item-meta {
    border-top: 1px dashed #fffff7;
  }

  /* line 956, sass/_screen.scss */
  p.view-items-link {
    color: #554;
  }

  /* line 957, sass/_screen.scss */
  p.view-items-link a {
    color: #554;
  }

  /* line 958, sass/_screen.scss */
  .meta-main {
    border-top: 1px dashed #fffff7;
  }

  /* line 959, sass/_screen.scss */
  .meta-main .runinHead {
    color: #543;
  }

  /* line 964, sass/_screen.scss */
  #secondary .featured-box p .title,
  #secondary .featured-box p .title a,
  #primary .featured-box p .title,
  #primary .featured-box p .title a:visited,
  #secondary .featured-box p .title a:visited {
    color: #fff;
  }

  /* line 968, sass/_screen.scss */
  #secondary .featured-box p .title a,
  #primary .featured-box p .title a {
    color: #fff;
  }

  /* line 971, sass/_screen.scss */
  .featured-box h2 {
    color: #221111;
    border-bottom: 1px dashed white;
  }

  /* line 976, sass/_screen.scss */
  .featured-box.title,
  .featured-box.title a {
    color: #fff;
  }

  /* line 979, sass/_screen.scss */
  .featured-box.title a:visited {
    color: #fff;
  }

  /* line 980, sass/_screen.scss */
  .featured-box img {
    border: 10px solid #fff;
  }

  /* line 982, sass/_screen.scss */
  #featured-exhibit,
  #featured-item {
    background-color: #b3ad9c;
  }

  /* line 985, sass/_screen.scss */
  #featured-collection {
    background-color: #cc9933;
  }

  /* line 986, sass/_screen.scss */
  #sidebar-featured-item {
    background: #544;
  }

  /* line 987, sass/_screen.scss */
  .featured img {
    border: 1px solid #fffff7;
    background: #fff;
  }

  /* line 988, sass/_screen.scss */
  #sidebar-featured-item .description p {
    color: #fff;
  }

  /* line 989, sass/_screen.scss */
  #sidebar-featured-item h2 {
    color: #fff;
  }

  /* line 990, sass/_screen.scss */
  #sidebar-featured-item a {
    color: #fff;
  }

  /* line 991, sass/_screen.scss */
  #featured-item a:hover {
    color: #cc9933;
  }

  /*Spring Styles*/
  /* line 998, sass/_screen.scss */
  .spring #featured-item h2,
  .spring #featured-exhibit h2 {
    color: #acc1c1;
  }

  /* line 1003, sass/_screen.scss */
  .spring #wrap {
    background: white url(../images/spring/bg-top.png) top left no-repeat;
  }

  /* line 1004, sass/_screen.scss */
  .spring header {
    border-bottom: 5px solid #ccdd44;
    border-top: 5px solid #ccdd44;
    background: #bb3344 url(../images/spring/bg-header.png) repeat top;
  }

  /* line 1009, sass/_screen.scss */
  .spring header #about p {
    color: #fff;
  }

  /* line 1010, sass/_screen.scss */
  .spring header #about .more a {
    color: #707066;
  }

  /* line 1011, sass/_screen.scss */
  .spring header #about .more a:hover {
    color: #ccdd44;
  }

  /* line 1012, sass/_screen.scss */
  .spring #searchwrap {
    background-color: #ccdd44;
  }

  /* line 1013, sass/_screen.scss */
  .spring #searchwrap a {
    color: #fff;
  }

  /* line 1014, sass/_screen.scss */
  .spring #searchwrap a:visited {
    color: #1a030c;
  }

  /* line 1015, sass/_screen.scss */
  .spring #searchwrap a:hover {
    color: #fff;
  }

  /* line 1016, sass/_screen.scss */
  .spring header #search {
    border: 5px solid #ccdd44;
    border-bottom: 0px;
    background: #fff;
  }

  /* line 1021, sass/_screen.scss */
  .spring #submit_search {
    color: #fff;
  }

  /* line 1022, sass/_screen.scss */
  .spring #advanced-search-link a {
    color: #345;
  }

  /* line 1023, sass/_screen.scss */
  .spring #primary-nav {
    background-color: #fff;
  }

  /* line 1024, sass/_screen.scss */
  .spring #primary-nav ul li {
    background: url(../images/spring/bullet-omeka.png) no-repeat 0 50%;
  }

  /* line 1026, sass/_screen.scss */
  .spring #primary-nav li,
  .spring .navigation li {
    color: #1a030c;
  }

  /* line 1030, sass/_screen.scss */
  .spring #primary-nav a,
  .spring .navigation a {
    color: #1a030c;
  }

  /* line 1034, sass/_screen.scss */
  .spring #primary-nav a:hover,
  .spring .navigation a:hover {
    color: #ccdd44;
  }

  /* line 1041, sass/_screen.scss */
  .spring #primary-nav .current a,
  .spring .exhibits #primary-nav li.nav-exhibits a,
  .spring .collections #primary-nav li.nav-collections a,
  .spring .about #primary-nav li.nav-about a,
  .spring .items #primary-nav li.nav-items a {
    color: #707066;
    background-color: #fff;
  }

  /* line 1045, sass/_screen.scss */
  .spring #secondary {
    border-left: 1px solid #ccdd44;
  }

  /* line 1046, sass/_screen.scss */
  .spring footer {
    background: white url(../images/spring/bg-footer.png) no-repeat left top;
  }

  /* line 1047, sass/_screen.scss */
  .spring footer .navigation {
    background: #fff;
  }

  /* line 1048, sass/_screen.scss */
  .spring footer .navigation li {
    background: transparent url(../images/spring/bullet-omeka.png) no-repeat scroll 0 50%;
  }

  /* line 1049, sass/_screen.scss */
  .spring footer .navigation a {
    color: #1a030c;
  }

  /* line 1050, sass/_screen.scss */
  .spring footer .navigation .current a {
    color: #7070668;
  }

  /* line 1051, sass/_screen.scss */
  .spring footer footer-text {
    color: #000;
  }

  /* line 1052, sass/_screen.scss */
  .spring body {
    color: #663344;
    background-color: #2b1520;
  }

  /* line 1056, sass/_screen.scss */
  .spring #primary h1 {
    color: #663344;
  }

  /* line 1057, sass/_screen.scss */
  .spring h2 {
    color: #668888;
  }

  /* line 1059, sass/_screen.scss */
  .spring h3,
  .spring h4 {
    color: #707066;
  }

  /* line 1065, sass/_screen.scss */
  .spring p,
  .spring .exhibit .description,
  .spring .exhibit-item,
  .spring .exhibit-text {
    color: #1a030c;
  }

  /* line 1068, sass/_screen.scss */
  .spring p.sitetitle {
    color: #fff;
  }

  /* line 1069, sass/_screen.scss */
  .spring p.sitetitle a {
    color: #fff;
  }

  /* line 1070, sass/_screen.scss */
  .spring p.tagline {
    color: #fff;
  }

  /* line 1071, sass/_screen.scss */
  .spring .exhibit .tags {
    color: #1a030c;
  }

  /* line 1072, sass/_screen.scss */
  .spring .exhibit .tags a {
    color: #ccdd44;
  }

  /* line 1073, sass/_screen.scss */
  .spring a:link {
    color: #668888;
  }

  /* line 1074, sass/_screen.scss */
  .spring a:visited {
    color: #ccdd44;
  }

  /* line 1075, sass/_screen.scss */
  .spring a:hover {
    color: #ccdd44;
  }

  /* line 1076, sass/_screen.scss */
  .spring a:active {
    color: #663344;
  }

  /* line 1077, sass/_screen.scss */
  .spring .archive a:link {
    color: #668888;
  }

  /* line 1078, sass/_screen.scss */
  .spring .archive a:visited {
    color: #ccdd44;
  }

  /* line 1079, sass/_screen.scss */
  .spring .archive a:hover {
    color: #ccdd44;
  }

  /* line 1080, sass/_screen.scss */
  .spring .archive a:active {
    color: #668888;
  }

  /* line 1081, sass/_screen.scss */
  .spring .tags a:link {
    color: #668888;
  }

  /* line 1082, sass/_screen.scss */
  .spring .tags a:hover {
    color: #ccdd44;
  }

  /* line 1083, sass/_screen.scss */
  .spring header h1 a {
    color: #fff;
  }

  /* line 1084, sass/_screen.scss */
  .spring #secondary h2 {
    color: #668888;
  }

  /* line 1085, sass/_screen.scss */
  .spring #secondary #featured-item h2 {
    color: #1a030c;
  }

  /* line 1087, sass/_screen.scss */
  .spring #secondary dl,
  .spring #secondary dt a {
    color: #1a030c;
  }

  /* line 1090, sass/_screen.scss */
  .spring #secondary dt {
    border-top: 1px dashed #707066;
  }

  /* line 1091, sass/_screen.scss */
  .spring #secondary #show-sidebar {
    background-color: #eed;
    border-top: 1px dashed #707066;
    border-bottom: 1px dashed #707066;
  }

  /* line 1096, sass/_screen.scss */
  .spring .show #secondary dl {
    color: #544;
  }

  /* line 1097, sass/_screen.scss */
  .spring .show #secondary a {
    color: #000;
  }

  /* line 1098, sass/_screen.scss */
  .spring .show #secondary a:hover {
    color: #fff;
  }

  /* line 1099, sass/_screen.scss */
  .spring .advanced-search form {
    background-color: #ccdd44;
  }

  /* line 1101, sass/_screen.scss */
  .spring label,
  .spring .label {
    color: #000;
  }

  /* line 1104, sass/_screen.scss */
  .spring .field {
    border-bottom: 1px dashed #fff;
  }

  /* line 1106, sass/_screen.scss */
  .spring .field .textinput,
  .spring .field select {
    background-color: #fff;
  }

  /* line 1109, sass/_screen.scss */
  .spring textarea#rights {
    color: #444;
  }

  /* line 1110, sass/_screen.scss */
  .spring ul.navigation li {
    background: url(../images/spring/bullet-omeka.png) no-repeat 0 50%;
  }

  /* line 1111, sass/_screen.scss */
  .spring ul.title-list li {
    color: #543;
  }

  /* line 1113, sass/_screen.scss */
  .spring #secondary .exhibit-section-nav a,
  .spring #secondary .exhibit-page-nav a {
    color: #688;
  }

  /* line 1119, sass/_screen.scss */
  .spring #secondary .exhibit-section-nav a:hover,
  .spring #secondary .exhibit-section-nav .current a,
  .spring #secondary .exhibit-page-nav a:hover,
  .spring #secondary .exhibit-page-nav .current a {
    color: #634;
  }

  /* line 1122, sass/_screen.scss */
  .spring .popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1122, sass/_screen.scss */
  .spring .popular a:visited {
    color: #777;
  }

  /* line 1123, sass/_screen.scss */
  .spring .v-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1123, sass/_screen.scss */
  .spring .v-popular a:visited {
    color: #777;
  }

  /* line 1124, sass/_screen.scss */
  .spring .vv-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1124, sass/_screen.scss */
  .spring .vv-popular a:visited {
    color: #777;
  }

  /* line 1125, sass/_screen.scss */
  .spring .vvv-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1125, sass/_screen.scss */
  .spring .vvv-popular a:visited {
    color: #777;
  }

  /* line 1126, sass/_screen.scss */
  .spring .vvvv-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1126, sass/_screen.scss */
  .spring .vvvv-popular a:visited {
    color: #777;
  }

  /* line 1127, sass/_screen.scss */
  .spring .vvvvv-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1127, sass/_screen.scss */
  .spring .vvvvv-popular a:visited {
    color: #777;
  }

  /* line 1128, sass/_screen.scss */
  .spring .vvvvvv-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1128, sass/_screen.scss */
  .spring .vvvvvv-popular a:visited {
    color: #777;
  }

  /* line 1129, sass/_screen.scss */
  .spring .vvvvvvv-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1129, sass/_screen.scss */
  .spring .vvvvvvv-popular a:visited {
    color: #777;
  }

  /* line 1130, sass/_screen.scss */
  .spring .vvvvvvvv-popular a {
    color: #668888;
    text-decoration: none;
  }

  /* line 1130, sass/_screen.scss */
  .spring .vvvvvvvv-popular a:visited {
    color: #777;
  }

  /* line 1131, sass/_screen.scss */
  .spring .secondary-nav a {
    color: #fff;
  }

  /* line 1133, sass/_screen.scss */
  .spring .secondary-nav a:link,
  .spring .secondary-nav a:visited {
    background-color: #688;
  }

  /* line 1137, sass/_screen.scss */
  .spring .secondary-nav a:hover,
  .spring .secondary-nav a:active {
    background-color: #cd4;
  }

  /* line 1140, sass/_screen.scss */
  .spring .secondary-nav li.current a {
    background: #634;
  }

  /* line 1141, sass/_screen.scss */
  .spring .pagination li a {
    color: #1a030c;
  }

  /* line 1147, sass/_screen.scss */
  .spring .pagination_current,
  .spring .pagination li a:hover,
  .spring .pagination ul li.pagination_next a,
  .spring .pagination ul li.pagination_last a,
  .spring .pagination ul li.pagination_previous a,
  .spring .pagination ul li.pagination_first a {
    color: #ccdd44;
  }

  /* line 1153, sass/_screen.scss */
  .spring .pagination ul li.pagination_next a:hover,
  .spring .pagination ul li.pagination_last a:hover,
  .spring .pagination ul li.pagination_previous a:hover,
  .spring .pagination ul li.pagination_first a:hover {
    color: #668888;
  }

  /* line 1156, sass/_screen.scss */
  .spring .item-img img {
    border: 1px solid #ccdd44;
  }

  /* line 1157, sass/_screen.scss */
  .spring .item-type {
    color: #554433;
  }

  /* line 1158, sass/_screen.scss */
  .spring .item-meta {
    border-top: 1px dashed #bfbfbf;
  }

  /* line 1160, sass/_screen.scss */
  .spring p.view-items-link,
  .spring p.view-items-link a {
    color: #554;
  }

  /* line 1163, sass/_screen.scss */
  .spring .meta-main {
    border-top: 1px dashed #bfbfbf;
  }

  /* line 1164, sass/_screen.scss */
  .spring .meta-main .runinHead {
    color: #543;
  }

  /* line 1171, sass/_screen.scss */
  .spring #secondary .featured-box p .title,
  .spring #secondary .featured-box p .title a,
  .spring #primary .featured-box p .title,
  .spring #primary .featured-box p .title a:visited,
  .spring #secondary .featured-box p .title a:visited,
  .spring #secondary .featured-box p .title a,
  .spring #primary .featured-box p .title a {
    color: #fff;
  }

  /* line 1174, sass/_screen.scss */
  .spring .featured-box h2 {
    color: #1a030c;
    border-bottom: 1px dashed white;
  }

  /* line 1180, sass/_screen.scss */
  .spring .featured-box.title,
  .spring .featured-box.title a,
  .spring .featured-box.title a:visited {
    color: #fff;
  }

  /* line 1183, sass/_screen.scss */
  .spring .featured-box img {
    border: 10px solid #fff;
  }

  /* line 1185, sass/_screen.scss */
  .spring #featured-exhibit,
  .spring #featured-item {
    background-color: #668888;
  }

  /* line 1190, sass/_screen.scss */
  .spring #featured-item a,
  .spring #featured-item a:visited {
    color: #fff;
  }

  /* line 1194, sass/_screen.scss */
  .spring #featured-collection {
    background-color: #ccdd44;
  }

  /* line 1195, sass/_screen.scss */
  .spring #sidebar-featured-item {
    background: #544;
  }

  /* line 1196, sass/_screen.scss */
  .spring .featured img {
    border: 1px solid #bfbfbf;
    background: #fff;
  }

  /* line 1202, sass/_screen.scss */
  .spring #sidebar-featured-item .description p,
  .spring #sidebar-featured-item h2,
  .spring #sidebar-featured-item a {
    color: #fff;
  }

  /* line 1205, sass/_screen.scss */
  .spring #featured-item a:hover {
    color: #ccdd44;
  }
}
@media print {
  /* line 1, sass/print.scss */
  body {
    font: 12px Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
  }

  /* line 4, sass/print.scss */
  #content {
    width: 100%;
    margin: 0;
    float: none;
  }

  /* line 10, sass/print.scss */
  h1,
  #site-title {
    font-size: 16pt;
    font-weight: bold;
  }

  /* line 14, sass/print.scss */
  h2 {
    font-size: 14pt;
    font-style: italic;
  }

  /* line 18, sass/print.scss */
  h3 {
    font-size: 14pt;
  }

  /* line 21, sass/print.scss */
  h4 {
    font-weight: bold;
  }

  /* line 24, sass/print.scss */
  h5 {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }

  /* line 29, sass/print.scss */
  a:link:after {
    content: " (" attr(href) ") ";
    font-size: 80%;
  }

  /* line 40, sass/print.scss */
  #search-container,
  #primary-nav,
  #header-image,
  .navigation,
  .pagination,
  #exhibit-page-navigation,
  .exhibit-section-nav,
  .exhibit-page-nav {
    display: none;
  }

  /* line 43, sass/print.scss */
  blockquote {
    margin: 10pt 0 0 0;
    font-style: italic;
  }
}
