@media screen {
  /* @group ----- Generic HTML Elements ----- */
  /* line 106, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/_vertical_rhythm.scss */
  html {
    font-size: 100%;
    line-height: 1.5em;
  }

  /* line 9, sass/_screen.scss */
  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* line 13, sass/_screen.scss */
  body {
    font-size: 16px;
    line-height: 24px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }

  /* line 20, sass/_screen.scss */
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  /* line 24, sass/_screen.scss */
  h1,
  h2 {
    font-family: "PT Serif", serif;
  }

  /* line 29, sass/_screen.scss */
  h1 {
    font-size: 32px;
    margin-bottom: 0.75em;
    line-height: 48px;
    letter-spacing: -1px;
    font-weight: normal;
  }

  /* line 37, sass/_screen.scss */
  h2 {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 1em;
  }

  /* line 43, sass/_screen.scss */
  h3 {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin-bottom: 1.2em;
  }

  /* line 50, sass/_screen.scss */
  h4 {
    font-weight: bold;
    margin-bottom: 1.5em;
  }

  /* line 55, sass/_screen.scss */
  h1 a,
  h2 a,
  h3 a {
    text-decoration: none;
  }

  /* line 61, sass/_screen.scss */
  a:hover {
    text-decoration: underline;
  }

  /* line 65, sass/_screen.scss */
  p,
  ul,
  blockquote,
  pre,
  table,
  form,
  textarea,
  label,
  .label,
  input {
    margin: 0 0 1.5em;
  }

  /* line 78, sass/_screen.scss */
  ul li {
    list-style-type: square;
  }

  /* line 82, sass/_screen.scss */
  blockquote {
    padding: 1.5em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  /* line 86, sass/_screen.scss */
  blockquote *:last-child {
    margin-bottom: 0;
  }

  /* line 91, sass/_screen.scss */
  table {
    width: 100%;
  }

  /* line 95, sass/_screen.scss */
  caption {
    font-style: italic;
    text-align: left;
  }
  /* line 99, sass/_screen.scss */
  caption i, caption em {
    font-style: normal;
  }

  /* line 104, sass/_screen.scss */
  th, td {
    padding: 0.375em 1.69492%;
  }
  /* line 107, sass/_screen.scss */
  th:first-of-type, td:first-of-type {
    padding-left: 0;
  }

  /* line 112, sass/_screen.scss */
  .label,
  label {
    display: inline-block;
  }

  /* line 117, sass/_screen.scss */
  th {
    border-bottom-width: 0.0625em;
    border-bottom-style: dashed;
    padding-bottom: 0.3125em;
    text-align: left;
  }

  /* line 122, sass/_screen.scss */
  input[type="text"],
  input[type="password"],
  textarea {
    display: block;
    border-width: 0.0625em;
    border-style: solid;
    padding: 0.3125em;
    border-color: #999;
  }

  /* line 130, sass/_screen.scss */
  input,
  textarea,
  button,
  a.button,
  .button a {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    line-height: 24px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 141, sass/_screen.scss */
  button,
  a.button,
  .button a,
  input[type="submit"] {
    border: 0;
    padding: 0.375em;
    -moz-appearance: none;
    -webkit-appearance: none;
  }

  /* line 150, sass/_screen.scss */
  a.button:hover,
  .button a:hover {
    color: #fff !important;
    text-decoration: none;
  }

  /* line 156, sass/_screen.scss */
  fieldset {
    margin: 0;
  }

  /* @end */
  /* @group ----- Reusable classes ----- */
  /* line 164, sass/_screen.scss */
  #content {
    padding: 0 1.69492%;
  }

  /* line 168, sass/_screen.scss */
  .item {
    border-bottom-width: 0.0625em;
    border-bottom-style: dashed;
    padding-bottom: 1.4375em;
    margin-bottom: 1.5em;
  }

  /* line 173, sass/_screen.scss */
  #wrap {
    padding-top: 3em;
  }

  /* Microformats */
  /* line 178, sass/_screen.scss */
  .hTagcloud {
    margin-bottom: 1.5em;
  }
  /* line 181, sass/_screen.scss */
  .hTagcloud ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    line-height: 2.2em;
  }
  /* line 188, sass/_screen.scss */
  .hTagcloud li {
    display: inline;
    margin-right: 8px;
    background-image: none;
    margin-left: 0;
    padding-left: 0;
  }

  /* line 197, sass/_screen.scss */
  .popular {
    font-size: 100%;
  }

  /* line 198, sass/_screen.scss */
  .v-popular {
    font-size: 140%;
  }

  /* line 199, sass/_screen.scss */
  .vv-popular {
    font-size: 180%;
  }

  /* line 200, sass/_screen.scss */
  .vvv-popular {
    font-size: 220%;
  }

  /* line 201, sass/_screen.scss */
  .vvvv-popular {
    font-size: 260%;
  }

  /* line 202, sass/_screen.scss */
  .vvvvv-popular {
    font-size: 300%;
  }

  /* line 203, sass/_screen.scss */
  .vvvvvv-popular {
    font-size: 340%;
  }

  /* line 204, sass/_screen.scss */
  .vvvvvvv-popular {
    font-size: 380%;
  }

  /* line 205, sass/_screen.scss */
  .vvvvvvvv-popular {
    font-size: 420%;
  }

  /* @end */
  /* @group ----- Header ----- */
  /* line 211, sass/_screen.scss */
  header {
    position: relative;
    border-bottom-color: #fff !important;
  }

  /* line 216, sass/_screen.scss */
  #title-tagline,
  #search-container {
    padding: 0 1.69492%;
  }

  /* line 221, sass/_screen.scss */
  #search-container {
    text-align: right;
    vertical-align: top;
    position: relative;
    width: 100%;
    padding: 0.75em 0.375em;
  }
  /* line 228, sass/_screen.scss */
  #search-container form {
    margin: 0;
    width: 100%;
  }
  /* line 232, sass/_screen.scss */
  #search-container form a {
    font-weight: bold;
    text-decoration: none;
  }
  /* line 238, sass/_screen.scss */
  #search-container button {
    width: 2.25em;
    position: absolute;
    top: 0.375em;
    right: 2.625em;
    text-indent: -9999px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  /* line 246, sass/_screen.scss */
  #search-container button:after {
    font-family: "FontAwesome";
    content: "\f002";
    text-indent: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2.25em;
    line-height: 2.25em;
    text-align: center;
  }

  /* line 260, sass/_screen.scss */
  #query {
    width: 100%;
    padding-right: 2.625em;
    height: 36px;
    margin-bottom: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  /* line 269, sass/_screen.scss */
  #search-container.with-advanced #query {
    padding-right: 4.875em;
  }
  /* line 273, sass/_screen.scss */
  #search-container.with-advanced button {
    right: 2.625em;
  }
  /* line 277, sass/_screen.scss */
  #search-container.with-advanced .show-advanced {
    top: 0.375em;
    width: 2.25em;
    color: #fff !important;
    display: block;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    height: 2.25em;
    border-right: 1px rgba(255, 255, 255, 0.25) solid;
    position: absolute;
    right: 0.375em;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0;
    border-radius: 0 3px 3px 0;
  }

  /* line 293, sass/_screen.scss */
  #advanced-form {
    position: absolute;
    top: 3em;
    background-color: #fff;
    z-index: 20;
    width: 100%;
    border-color: #ccc;
    border-top-color: #fff;
    border-width: 0.0625em;
    border-style: solid;
    padding: 0.3125em;
    text-align: left;
    padding: 0.75em;
  }
  /* line 305, sass/_screen.scss */
  #advanced-form.closed {
    left: -9999px;
  }
  /* line 309, sass/_screen.scss */
  #advanced-form.open {
    left: 0;
  }
  /* line 313, sass/_screen.scss */
  #advanced-form p {
    margin-bottom: 0.75em;
  }
  /* line 317, sass/_screen.scss */
  #advanced-form fieldset {
    border: 0;
    padding: 0;
    margin-bottom: 1.5em;
  }
  /* line 323, sass/_screen.scss */
  #advanced-form label {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0em;
  }
  /* line 329, sass/_screen.scss */
  #advanced-form input[type=checkbox],
  #advanced-form input[type=radio] {
    margin: 0.375em 5px 0 0;
  }
  /* line 334, sass/_screen.scss */
  #advanced-form > *:last-child {
    margin-bottom: 0;
  }
  /* line 338, sass/_screen.scss */
  #advanced-form a {
    font-weight: normal;
  }

  /* line 343, sass/_screen.scss */
  #site-title a {
    text-decoration: none;
    font-size: 24px;
    line-height: 48px;
    margin: 0.5em 0;
    display: inline-block;
  }

  /* line 351, sass/_screen.scss */
  header #about {
    position: relative;
    top: -30px;
    left: 400px;
    width: 320px;
  }

  /* line 358, sass/_screen.scss */
  .browse header #about,
  .show header #about,
  .item header #about {
    display: none;
  }

  /*hides the About copy on inside pages*/
  /* line 364, sass/_screen.scss */
  header #about p {
    font-family: "PT Serif", serif;
    font-size: 18px;
    line-height: 1.2em;
    font-weight: normal;
  }

  /* line 370, sass/_screen.scss */
  header #about .more a {
    font-size: .8em;
    font-weight: normal;
    text-decoration: none;
    letter-spacing: 1px;
  }

  /* line 377, sass/_screen.scss */
  #submit_search {
    border: none;
    background-color: transparent;
    padding: 5px 5px 0px 0px;
  }

  /* line 383, sass/_screen.scss */
  #advanced-search-link a {
    text-decoration: none;
    border: none;
    clear: both;
    text-align: right;
    font-size: 1em;
    padding: 4px 0;
    font-weight: bold;
  }

  /* @end */
  /* @group ----- Footer ----- */
  /* line 397, sass/_screen.scss */
  footer {
    clear: both;
    overflow: hidden;
    position: relative;
    padding: 3em 1.69492% 0;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  /* line 408, sass/_screen.scss */
  nav ul {
    padding: 0;
    margin: 0;
  }

  /* line 413, sass/_screen.scss */
  #primary-nav {
    padding: 0 1.69492%;
    float: left;
    width: 100%;
  }
  /* line 418, sass/_screen.scss */
  #primary-nav ul {
    margin-bottom: 1.5em;
  }
  /* line 422, sass/_screen.scss */
  #primary-nav li {
    display: block;
    border-color: #ccdd44;
    padding-top: 0.75em;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.6875em;
    width: 100%;
  }
  /* line 430, sass/_screen.scss */
  #primary-nav a {
    padding: 0 0 0 1.5em;
  }

  /* mega menu list */
  /* line 436, sass/_screen.scss */
  .nav-menu {
    width: 100%;
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 15;
    float: left;
  }
  /* line 446, sass/_screen.scss */
  .nav-menu a {
    text-decoration: none;
  }
  /* line 449, sass/_screen.scss */
  .nav-menu a:link, .nav-menu a:visited {
    color: #fff;
  }

  /* a top level navigation item in the mega menu */
  /* line 456, sass/_screen.scss */
  .nav-item {
    list-style: none;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
  }

  /* first descendant link within a top level navigation item */
  /* line 466, sass/_screen.scss */
  .nav-item > a {
    position: relative;
    display: inline-block;
    margin: 0;
    border: 0;
    color: #fff;
  }

  /* focus/open states of first descendant link within a top level 
     navigation item */
  /* open state of first descendant link within a top level 
     navigation item */
  /* line 483, sass/_screen.scss */
  .nav-item > a.open {
    border-bottom: none;
    z-index: 1;
  }

  /* sub-navigation panel */
  /* line 489, sass/_screen.scss */
  .sub-nav {
    position: absolute;
    display: none;
    top: 3em;
    left: 0;
    padding: 0 .5em;
    border: 0;
    margin: 0 0 0 -.5em;
    background-color: #770000;
    z-index: 2;
  }

  /* line 501, sass/_screen.scss */
  #primary-nav .sub-nav li {
    width: 100%;
    border-color: transparent !important;
    padding: 0;
    margin-right: 0;
  }

  /* line 508, sass/_screen.scss */
  #primary-nav .sub-nav a {
    display: block;
    padding: 0.375em 0 0.375em 1.5em;
  }

  /* sub-navigation panel open state */
  /* line 514, sass/_screen.scss */
  .sub-nav.open {
    display: block;
    background-color: #fff;
    width: 100%;
  }

  /* list of items within sub-navigation panel */
  /* line 521, sass/_screen.scss */
  .sub-nav ul {
    display: block;
    vertical-align: top;
    margin: 0;
    padding: 0;
  }
  /* line 528, sass/_screen.scss */
  .sub-nav ul a:before {
    content: "\2014\0020";
  }

  /* list item within sub-navigation panel */
  /* line 535, sass/_screen.scss */
  .sub-nav li {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  /* line 542, sass/_screen.scss */
  nav a,
  .navigation a {
    text-decoration: none;
  }

  /* line 547, sass/_screen.scss */
  .navigation li {
    font-weight: normal;
    list-style-type: none;
    padding-left: 0;
  }
  /* line 552, sass/_screen.scss */
  .navigation li.current {
    font-weight: bold;
  }

  /* line 560, sass/_screen.scss */
  .secondary-nav ul,
  #secondary-nav ul,
  #exhibit-child-pages ul {
    padding-left: 0;
    border-bottom-width: 0.0625em;
    border-bottom-style: dashed;
    padding-bottom: 0.6875em;
    margin-bottom: 1.5em;
  }
  /* line 566, sass/_screen.scss */
  .secondary-nav li,
  #secondary-nav li,
  #exhibit-child-pages li {
    display: inline-block;
    margin: 0 1em 0 0;
    padding: 0;
    background: none;
  }
  /* line 573, sass/_screen.scss */
  .secondary-nav a,
  #secondary-nav a,
  #exhibit-child-pages a {
    display: inline-block;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
  }

  /* line 582, sass/_screen.scss */
  #bottom-nav {
    display: none;
  }

  /* line 586, sass/_screen.scss */
  .pagination {
    clear: both;
    margin: 0 0 1.5em;
    padding: 0;
  }
  /* line 591, sass/_screen.scss */
  .pagination input {
    width: 3em;
    display: inline;
    margin: 0 3px 0 0;
    border-color: transparent;
  }
  /* line 598, sass/_screen.scss */
  .pagination li {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background-color: #ccc;
  }
  /* line 604, sass/_screen.scss */
  .pagination a, .pagination form {
    display: inline-block;
    text-decoration: none;
    margin: 0;
  }
  /* line 610, sass/_screen.scss */
  .pagination a {
    padding: 0.75em;
  }
  /* line 614, sass/_screen.scss */
  .pagination form {
    padding: 0.375em;
  }

  /* line 619, sass/_screen.scss */
  .pagination_next,
  .pagination_prev {
    background-color: rgba(0, 0, 0, 0.25);
  }

  /* line 624, sass/_screen.scss */
  .item-pagination {
    overflow: auto;
    padding-left: 0;
  }
  /* line 628, sass/_screen.scss */
  .item-pagination li.previous {
    display: block;
    float: left;
  }
  /* line 633, sass/_screen.scss */
  .item-pagination li.next {
    float: right;
    display: block;
  }
  /* line 638, sass/_screen.scss */
  .item-pagination a {
    display: block;
    height: 100%;
  }

  /* @end */
  /* @group ----- Home ----- */
  /* line 648, sass/_screen.scss */
  #featured-item,
  #featured-collection,
  #featured-exhibit {
    padding: 0.75em 1.69492%;
  }
  /* line 653, sass/_screen.scss */
  #featured-item h2,
  #featured-collection h2,
  #featured-exhibit h2 {
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
    margin-bottom: 0em;
  }
  /* line 661, sass/_screen.scss */
  #featured-item h3,
  #featured-collection h3,
  #featured-exhibit h3 {
    font-family: "PT Serif", serif;
    margin-bottom: 0em;
  }
  /* line 666, sass/_screen.scss */
  #featured-item p:last-of-type,
  #featured-collection p:last-of-type,
  #featured-exhibit p:last-of-type {
    margin-bottom: 0em;
  }

  /* line 671, sass/_screen.scss */
  #recent-items {
    margin: 1.5em 0;
  }

  /* line 675, sass/_screen.scss */
  #recent-items .item-img {
    width: 50px;
    height: 50px;
  }

  /* line 680, sass/_screen.scss */
  #recent-items .item-img img {
    max-width: 100%;
  }

  /* line 684, sass/_screen.scss */
  .item-description .show {
    display: none;
  }

  /* line 688, sass/_screen.scss */
  #home .view-items-link {
    background-color: #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 0.375em 10px;
    clear: both;
    font-weight: 700;
  }

  /* line 696, sass/_screen.scss */
  #featured-item,
  #featured-exhibit,
  #featured-collection {
    margin-bottom: 1.5em;
  }

  /* @end */
  /* @group ----- Search ----- */
  /* line 708, sass/_screen.scss */
  #search-filters ul,
  #item-filters ul {
    padding-left: 0;
    border-bottom-width: 0.0625em;
    border-bottom-style: dashed;
    padding-bottom: -0.0625em;
    margin-bottom: 0em;
  }
  /* line 714, sass/_screen.scss */
  #search-filters li,
  #item-filters li {
    list-style-type: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    padding: 0.375em 10px;
    margin: 0 0.375em 0.75em 0;
  }
  /* line 721, sass/_screen.scss */
  #search-filters li ul,
  #item-filters li ul {
    border-bottom-width: 0em;
    border-bottom-style: dashed;
    padding-bottom: 0em;
    margin: 0;
    display: inline;
  }
  /* line 727, sass/_screen.scss */
  #search-filters li li,
  #item-filters li li {
    padding: 0;
    display: inline;
    text-transform: lowercase;
    margin: 0;
  }
  /* line 733, sass/_screen.scss */
  #search-filters li li:after,
  #item-filters li li:after {
    content: ", ";
  }
  /* line 737, sass/_screen.scss */
  #search-filters li li:last-of-type:after,
  #item-filters li li:last-of-type:after {
    content: "";
  }

  /* line 744, sass/_screen.scss */
  #item-filters ul {
    margin-top: -0.75em;
  }

  /* @end */
  /* @group ----- Items/Browse ----- */
  /* line 752, sass/_screen.scss */
  .browse #featured-item {
    padding: 0.75em 1.69492%;
    margin-bottom: 1.5em;
  }

  /* line 757, sass/_screen.scss */
  .items h1 {
    margin-bottom: 0em;
  }

  /* line 761, sass/_screen.scss */
  .items .secondary-nav {
    margin-bottom: 1.5em;
  }

  /* line 765, sass/_screen.scss */
  #sort-links {
    clear: both;
    border-bottom-width: 0.0625em;
    border-bottom-style: dashed;
    padding-bottom: 1.4375em;
    margin-bottom: 1.5em;
  }
  /* line 770, sass/_screen.scss */
  #sort-links ul {
    padding-left: 0;
    display: inline-block;
    margin: 0 0 0 10px;
  }
  /* line 776, sass/_screen.scss */
  #sort-links li {
    display: inline-block;
    margin-right: 10px;
  }
  /* line 781, sass/_screen.scss */
  #sort-links a {
    text-decoration: none;
  }

  /* line 786, sass/_screen.scss */
  .asc a, .desc a {
    font-weight: bold;
  }
  /* line 789, sass/_screen.scss */
  .asc a:after, .desc a:after {
    content: "\25BC";
    display: inline-block;
    margin: 0 5px;
  }

  /* line 796, sass/_screen.scss */
  .asc a:after {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  /* line 800, sass/_screen.scss */
  .item-description + .tags {
    margin-top: 1.5em;
  }

  /* line 804, sass/_screen.scss */
  div.tags:last-child p {
    margin-bottom: 0em;
  }

  /* @end */
  /* @group ----- Items/Show ----- */
  /* line 812, sass/_screen.scss */
  .element-set h3 {
    margin-bottom: 0;
  }

  /* line 816, sass/_screen.scss */
  .element-set .element {
    margin-bottom: 1.5em;
  }

  /* line 820, sass/_screen.scss */
  #show-sidebar {
    clear: both;
    margin-bottom: 1.5em;
    word-break: break-word;
  }

  /* line 827, sass/_screen.scss */
  .items.show h1 {
    margin-bottom: 0.75em;
  }
  /* line 831, sass/_screen.scss */
  .items.show dl {
    padding: 0 1.69492%;
  }
  /* line 835, sass/_screen.scss */
  .items.show dt {
    font-weight: bold;
  }
  /* line 839, sass/_screen.scss */
  .items.show dd {
    margin: 0 0 1.5em;
  }
  /* line 843, sass/_screen.scss */
  .items.show .item {
    margin-bottom: 0em;
    border: 0;
    padding: 0;
  }

  /* @end */
  /* @group ----- Items/Tags ----- */
  /* line 854, sass/_screen.scss */
  .hTagcloud a:link,
  .hTagcloud a:visited {
    padding: 0.375em 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important;
  }

  /* @group ----- Items/Search ----- */
  /* line 863, sass/_screen.scss */
  .items .field {
    margin-bottom: 1.5em;
    border-bottom-width: 0.0625em;
    border-bottom-style: dashed;
    padding-bottom: 1.4375em;
  }

  /* line 868, sass/_screen.scss */
  .items label,
  .items .label {
    margin-bottom: 0.75em;
  }

  /* line 873, sass/_screen.scss */
  .items .field input {
    margin-bottom: 0em;
  }

  /* line 877, sass/_screen.scss */
  .items .field input[type="text"] {
    width: 100%;
  }

  /* line 881, sass/_screen.scss */
  .search-entry select,
  .items .search-entry input {
    margin-bottom: 0.75em;
  }

  /* line 886, sass/_screen.scss */
  .remove_search {
    margin-bottom: 1.5em;
  }

  /* @end */
  /* @group ----- Exhibits ----- */
  /* line 894, sass/_screen.scss */
  .summary #exhibit-pages {
    padding: 0 1.69492%;
    margin: 1.5em 0;
  }
  /* line 898, sass/_screen.scss */
  .summary #exhibit-pages li {
    width: 100%;
    list-style-type: none;
    text-transform: none;
    padding: 0.375em 0;
  }
  /* line 905, sass/_screen.scss */
  .summary #exhibit-pages > ul {
    margin-left: 0;
  }
  /* line 908, sass/_screen.scss */
  .summary #exhibit-pages > ul ul {
    display: none;
  }
  /* line 912, sass/_screen.scss */
  .summary #exhibit-pages > ul > li {
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.6875em;
    text-transform: uppercase;
  }
  /* line 916, sass/_screen.scss */
  .summary #exhibit-pages > ul > li:last-of-type {
    border-color: transparent;
  }

  /* line 923, sass/_screen.scss */
  #exhibit-pages #secondary-nav ul,
  #exhibit-pages .secondary-nav ul {
    border-bottom-width: 0;
    border-bottom-style: solid;
    padding-bottom: 0em;
    margin-bottom: 0em;
    margin: 0;
  }

  /* line 930, sass/_screen.scss */
  .show #exhibit-pages > ul {
    margin: 0;
  }
  /* line 933, sass/_screen.scss */
  .show #exhibit-pages > ul > li {
    margin: 0;
    width: 100%;
    text-transform: uppercase;
  }
  /* line 938, sass/_screen.scss */
  .show #exhibit-pages > ul > li li {
    width: 100%;
    padding: 0.375em 1em 0;
  }
  /* line 942, sass/_screen.scss */
  .show #exhibit-pages > ul > li li a {
    width: 100%;
    border-bottom-width: 0.0625em;
    border-bottom-style: solid;
    padding-bottom: 0.3125em;
  }
  /* line 947, sass/_screen.scss */
  .show #exhibit-pages > ul > li li:last-of-type a {
    border-color: transparent;
  }
  /* line 953, sass/_screen.scss */
  .show #exhibit-pages > ul > li:first-of-type {
    padding: 0.375em 1em;
  }
  /* line 957, sass/_screen.scss */
  .show #exhibit-pages > ul > li:nth-of-type(3) a {
    text-transform: none;
  }

  /* line 962, sass/_screen.scss */
  ul.exhibit-section-nav {
    margin-top: 2em;
    margin-bottom: .5em;
  }

  /* line 967, sass/_screen.scss */
  #exhibit-page-navigation {
    clear: both;
    margin-bottom: 1em;
    float: right;
  }

  /* line 973, sass/_screen.scss */
  #exhibit-page-navigation .next-page {
    margin-left: 2em;
  }

  /* line 977, sass/_screen.scss */
  .exhibits h1 {
    margin-bottom: 0em;
  }

  /* line 981, sass/_screen.scss */
  .exhibits .secondary-nav {
    margin-bottom: 1.5em;
  }

  /* line 985, sass/_screen.scss */
  .layout-text *:last-child {
    margin-bottom: 0em;
  }

  /* @end */
  /*Blue styles*/
  /* line 992, sass/_screen.scss */
  .blue {
    /* @group ----- RHYTHM Generic HTML Elements ----- */
    /* @end */
    /* @group ----- RHYTHM: Reusable classes ----- */
    /* @end */
    /* @group ----- RHYTHM: Header ----- */
    /* @end */
    /* @group ----- RHYTHM: Navigation ----- */
    /* makes the primary nav link on the current page tan; gets class [exhibits, .collections, .about] from assigned body class in theme php */
    /* @end */
    /* @group ----- RHYTHM: Footer ----- */
    /* @end */
    /* @group ----- RHYTHM: Exhibits ----- */
    /* @end */
    /* @group ----- RHYTHM: Items ----- */
    /* @end */
    /* @group ----- RHYTHM: Tags ----- */
    /* @end */
    /* @group ----- RHYTHM: Pagination Links ----- */
  }
  /* line 8, sass/_rhythm.scss */
  .blue body {
    color: #3c3231;
    background-color: #3c3231;
  }
  /* line 13, sass/_rhythm.scss */
  .blue p,
  .blue .exhibit .description,
  .blue .exhibit-item,
  .blue .exhibit-text,
  .blue .item-description {
    color: #3c3c31;
  }
  /* line 21, sass/_rhythm.scss */
  .blue a:link, .blue a:visited {
    color: #2288cc;
  }
  /* line 25, sass/_rhythm.scss */
  .blue a:hover {
    color: #57abe3;
  }
  /* line 28, sass/_rhythm.scss */
  .blue a:active {
    color: #ddb;
  }
  /* line 32, sass/_rhythm.scss */
  .blue dl,
  .blue dt a {
    color: #323232;
  }
  /* line 37, sass/_rhythm.scss */
  .blue .button,
  .blue button,
  .blue input[type="submit"] {
    background-color: #554433;
    color: #fff;
  }
  /* line 48, sass/_rhythm.scss */
  .blue #wrap {
    background: white url(../images/blue/bg-top.jpg) top left repeat-x;
  }
  /* line 52, sass/_rhythm.scss */
  .blue #primary h1 {
    color: #554433;
  }
  /* line 56, sass/_rhythm.scss */
  .blue header h1 a {
    color: #fff;
  }
  /* line 60, sass/_rhythm.scss */
  .blue #secondary h2 {
    color: #554422;
  }
  /* line 64, sass/_rhythm.scss */
  .blue h3,
  .blue h4 {
    color: #bbbb88;
  }
  /* line 70, sass/_rhythm.scss */
  .blue .featured-box h2 {
    color: #3c3c31;
    border-bottom: 1px dashed white;
  }
  /* line 75, sass/_rhythm.scss */
  .blue .featured-box.title a,
  .blue .featured-box.title a:visited {
    color: #fff;
  }
  /* line 80, sass/_rhythm.scss */
  .blue .featured-box img {
    border: 10px solid #fff;
  }
  /* line 85, sass/_rhythm.scss */
  .blue #featured-exhibit,
  .blue #featured-item {
    background-color: #bbbb88;
  }
  /* line 90, sass/_rhythm.scss */
  .blue #featured-collection {
    background-color: #99ccee;
  }
  /* line 93, sass/_rhythm.scss */
  .blue #featured-collection.featured-box a:link,
  .blue #featured-collection.featured-box a:visited {
    color: #554422;
  }
  /* line 98, sass/_rhythm.scss */
  .blue #sidebar-featured-item {
    background: #544;
  }
  /* line 102, sass/_rhythm.scss */
  .blue .featured img {
    border: 1px solid #ddb;
    background: #fff;
  }
  /* line 107, sass/_rhythm.scss */
  .blue #sidebar-featured-item .description p,
  .blue #sidebar-featured-item h2,
  .blue #sidebar-featured-item a {
    color: #fff;
  }
  /* line 115, sass/_rhythm.scss */
  .blue #featured-item a:link,
  .blue #featured-exhibit a:link {
    color: #e9e9d9;
  }
  /* line 118, sass/_rhythm.scss */
  .blue #featured-item a:hover,
  .blue #featured-exhibit a:hover {
    color: #fff;
  }
  /* line 123, sass/_rhythm.scss */
  .blue label,
  .blue .label {
    color: #000;
  }
  /* line 128, sass/_rhythm.scss */
  .blue .field {
    border-bottom: 1px dashed #fff;
  }
  /* line 131, sass/_rhythm.scss */
  .blue .field .textinput,
  .blue .field select {
    background-color: #fff;
  }
  /* line 136, sass/_rhythm.scss */
  .blue p.view-items-link,
  .blue p.view-items-link a {
    color: #555544;
  }
  /* line 141, sass/_rhythm.scss */
  .blue .item-img img {
    border: 1px solid #ddb;
  }
  /* line 149, sass/_rhythm.scss */
  .blue header {
    border-bottom: 5px solid #99ccee;
    border-top: 5px solid #99ccee;
    background: #3c3231 url(../images/blue/bg_header.gif) repeat top;
  }
  /* line 154, sass/_rhythm.scss */
  .blue header #about p {
    color: #fff;
  }
  /* line 157, sass/_rhythm.scss */
  .blue header #about .more a {
    color: #bbbb88;
  }
  /* line 160, sass/_rhythm.scss */
  .blue header #about .more a:hover {
    color: #99ccee;
  }
  /* line 163, sass/_rhythm.scss */
  .blue #site-title,
  .blue #site-title a {
    color: #fff;
  }
  /* line 168, sass/_rhythm.scss */
  .blue #search-container {
    background-color: #99ccee;
  }
  /* line 171, sass/_rhythm.scss */
  .blue #search-container a {
    color: #fff;
  }
  /* line 175, sass/_rhythm.scss */
  .blue #search-container a:visited {
    color: #323232;
  }
  /* line 179, sass/_rhythm.scss */
  .blue #search-container a:hover {
    color: #fff;
  }
  /* line 184, sass/_rhythm.scss */
  .blue .meta-main {
    border-top: 1px dashed #ddb;
  }
  /* line 187, sass/_rhythm.scss */
  .blue .meta-main .runinHead {
    color: #554433;
  }
  /* line 195, sass/_rhythm.scss */
  .blue #primary-nav {
    position: relative;
    background-color: #fff;
  }
  /* line 199, sass/_rhythm.scss */
  .blue #primary-nav ul a {
    background: url(../images/blue/bullet-omeka.png) no-repeat 0 50%;
  }
  /* line 202, sass/_rhythm.scss */
  .blue .navigation li,
  .blue .navigation a {
    color: #3c3c31;
  }
  /* line 206, sass/_rhythm.scss */
  .blue #primary-nav a:hover,
  .blue .navigation a:hover {
    color: #99ccee;
  }
  /* line 210, sass/_rhythm.scss */
  .blue #primary-nav .current a,
  .blue .exhibits #primary-nav li.nav-exhibits a,
  .blue .collections #primary-nav li.nav-collections a,
  .blue .about #primary-nav li.nav-about a,
  .blue .items #primary-nav li.nav-items a {
    color: #bbbb88;
    background-color: #fff;
  }
  /* line 219, sass/_rhythm.scss */
  .blue .secondary-nav ul,
  .blue #sort-links,
  .blue .browse .item-meta {
    border-color: #ddb;
  }
  /* line 228, sass/_rhythm.scss */
  .blue footer {
    background: white url(../images/blue/bg-footer.jpg) repeat-x left top;
  }
  /* line 231, sass/_rhythm.scss */
  .blue footer .navigation {
    background: #fff;
  }
  /* line 234, sass/_rhythm.scss */
  .blue footer .navigation li {
    background: transparent url(../images/blue/bullet-omeka.png) no-repeat scroll 0 50%;
  }
  /* line 237, sass/_rhythm.scss */
  .blue footer .navigation a {
    color: #323231;
  }
  /* line 240, sass/_rhythm.scss */
  .blue footer .navigation .current a {
    color: #BBBB88;
  }
  /* line 243, sass/_rhythm.scss */
  .blue footer footer-text {
    color: #000;
  }
  /* line 247, sass/_rhythm.scss */
  .blue p.tagline {
    color: #fff;
  }
  /* line 252, sass/_rhythm.scss */
  .blue .exhibit .tags {
    color: #3c3c31;
  }
  /* line 253, sass/_rhythm.scss */
  .blue .exhibit .tags a {
    color: #99ccee;
  }
  /* line 255, sass/_rhythm.scss */
  .blue .exhibit-section-nav a {
    color: #555544;
  }
  /* line 256, sass/_rhythm.scss */
  .blue .exhibit-section-nav a:hover {
    color: #bbbb88;
  }
  /* line 257, sass/_rhythm.scss */
  .blue .exhibit-section-nav .current a {
    color: #bbbb88;
  }
  /* line 259, sass/_rhythm.scss */
  .blue .exhibit-page-nav a {
    color: #555544;
  }
  /* line 260, sass/_rhythm.scss */
  .blue .exhibit-page-nav a:hover {
    color: #bbbb88;
  }
  /* line 261, sass/_rhythm.scss */
  .blue .exhibit-page-nav .current a {
    color: #bbbb88;
  }
  /* line 264, sass/_rhythm.scss */
  .blue .archive a:link {
    color: #99ccee;
  }
  /* line 265, sass/_rhythm.scss */
  .blue .archive a:visited {
    color: #99ccee;
  }
  /* line 266, sass/_rhythm.scss */
  .blue .archive a:hover {
    color: #99ccee;
  }
  /* line 267, sass/_rhythm.scss */
  .blue .archive a:active {
    color: #99ccee;
  }
  /* line 272, sass/_rhythm.scss */
  .blue #show-sidebar {
    background-color: #eed;
    border-top: 1px dashed #bbbb88;
    border-bottom: 1px dashed #bbbb88;
  }
  /* line 277, sass/_rhythm.scss */
  .blue .show #secondary dl {
    color: #544;
  }
  /* line 280, sass/_rhythm.scss */
  .blue .show #secondary a {
    color: #000;
  }
  /* line 283, sass/_rhythm.scss */
  .blue .show #secondary a:hover {
    color: #fff;
  }
  /* line 286, sass/_rhythm.scss */
  .blue textarea#rights {
    color: #444;
  }
  /* line 289, sass/_rhythm.scss */
  .blue .item-type {
    color: #554433;
  }
  /* line 292, sass/_rhythm.scss */
  .blue ul.title-list li {
    color: #554433;
  }
  /* line 299, sass/_rhythm.scss */
  .blue .popular a, .blue .popular a:visited {
    color: #3c3c31;
  }
  /* line 300, sass/_rhythm.scss */
  .blue .v-popular a, .blue .v-popular a:visited {
    color: #3c3c31;
  }
  /* line 301, sass/_rhythm.scss */
  .blue .vv-popular a, .blue .vv-popular a:visited {
    color: #3c3c31;
  }
  /* line 302, sass/_rhythm.scss */
  .blue .vvv-popular a, .blue .vvv-popular a:visited {
    color: #7ac;
  }
  /* line 303, sass/_rhythm.scss */
  .blue .vvvv-popular a, .blue .vvvv-popular a:visited {
    color: #7ac;
  }
  /* line 304, sass/_rhythm.scss */
  .blue .vvvvv-popular a, .blue .vvvvv-popular a:visited {
    color: #99ccee;
  }
  /* line 305, sass/_rhythm.scss */
  .blue .vvvvvv-popular a, .blue .vvvvvv-popular a:visited {
    color: #99ccee;
  }
  /* line 306, sass/_rhythm.scss */
  .blue .vvvvvvv-popular a, .blue .vvvvvvv-popular a:visited {
    color: #99ccee;
  }
  /* line 307, sass/_rhythm.scss */
  .blue .vvvvvvvv-popular a, .blue .vvvvvvvv-popular a:visited {
    color: #99ccee;
  }
  /* line 313, sass/_rhythm.scss */
  .blue .pagination_current {
    color: #ccccaa;
  }
  /* line 317, sass/_rhythm.scss */
  .blue .pagination li a {
    color: #323232;
  }
  /* line 320, sass/_rhythm.scss */
  .blue .pagination li a:hover {
    color: #99ccee;
  }
  /* line 323, sass/_rhythm.scss */
  .blue .pagination ul li.pagination_next a,
  .blue .pagination ul li.pagination_last a,
  .blue .pagination ul li.pagination_previous a,
  .blue .pagination ul li.pagination_first a {
    color: #99ccee;
  }
  /* line 329, sass/_rhythm.scss */
  .blue .pagination ul li.pagination_next a:hover,
  .blue .pagination ul li.pagination_last a:hover,
  .blue .pagination ul li.pagination_previous a:hover,
  .blue .pagination ul li.pagination_first a:hover {
    color: #3c3c31;
  }

  /*Fall Styles*/
  /* @group ----- FALL: Generic HTML Elements ----- */
  /* line 3, sass/_fall.scss */
  th {
    border-color: #cc9933;
  }

  /* line 7, sass/_fall.scss */
  body {
    color: #332211;
    background-color: #b3ad9c;
  }

  /* line 12, sass/_fall.scss */
  p,
  .exhibit .description,
  .exhibit-item,
  .exhibit-text {
    color: #221111;
  }

  /* line 19, sass/_fall.scss */
  a:link {
    color: #770000;
  }

  /* line 23, sass/_fall.scss */
  a:visited {
    color: #6e0909;
  }

  /* line 27, sass/_fall.scss */
  a:hover,
  a:active {
    color: #c30000;
  }

  /* line 32, sass/_fall.scss */
  dl,
  dt a {
    color: #221111;
  }

  /* line 37, sass/_fall.scss */
  button,
  .button,
  input[type="submit"] {
    background-color: #770000;
    color: #fffff7;
  }

  /* @end */
  /* @group ----- FALL: Reusable classes ----- */
  /* line 48, sass/_fall.scss */
  #wrap {
    background: #fffff7 url(../images/fall/bg-top.png) top left repeat-x;
  }

  /* line 52, sass/_fall.scss */
  #primary h1 {
    color: #543;
  }

  /* line 56, sass/_fall.scss */
  .featured-box h2 {
    color: #221111;
    border-bottom: 1px dashed white;
  }

  /* line 61, sass/_fall.scss */
  .featured-box.title,
  .featured-box.title a {
    color: #fff;
  }

  /* line 66, sass/_fall.scss */
  .featured-box.title a:visited {
    color: #fff;
  }

  /* line 70, sass/_fall.scss */
  .featured-box img {
    border: 10px solid #fff;
  }

  /* line 74, sass/_fall.scss */
  #featured-exhibit,
  #featured-item {
    background-color: #b3ad9c;
  }

  /* line 79, sass/_fall.scss */
  #featured-collection {
    background-color: #cc9933;
  }

  /* line 83, sass/_fall.scss */
  #sidebar-featured-item {
    background: #544;
  }

  /* line 87, sass/_fall.scss */
  .featured img {
    border: 1px solid #fffff7;
    background: #fff;
  }

  /* line 92, sass/_fall.scss */
  #sidebar-featured-item .description p {
    color: #fffff7;
  }

  /* line 96, sass/_fall.scss */
  #sidebar-featured-item h2 {
    color: #fffff7;
  }

  /* line 100, sass/_fall.scss */
  #sidebar-featured-item a {
    color: #fff;
  }

  /* line 104, sass/_fall.scss */
  label,
  .label {
    color: #000;
  }

  /* line 109, sass/_fall.scss */
  .field {
    border-bottom: 1px dashed #fff;
  }

  /* line 113, sass/_fall.scss */
  .field .textinput,
  .field select {
    background-color: #fff;
  }

  /* line 118, sass/_fall.scss */
  p.view-items-link {
    color: #554;
  }

  /* line 122, sass/_fall.scss */
  p.view-items-link a {
    color: #554;
  }

  /* line 126, sass/_fall.scss */
  .item-img img {
    border: 1px solid #b3ad9c;
  }

  /* line 130, sass/_fall.scss */
  div.tags a:link {
    color: #cc9933;
  }

  /* line 134, sass/_fall.scss */
  div.tags a:hover {
    color: #770000;
  }

  /* @end */
  /* @group ----- FALL: Header ----- */
  /* line 142, sass/_fall.scss */
  header {
    border-bottom: 5px solid #cc9933;
    border-top: 5px solid #cc9933;
    background: #3d3d3d url(../images/fall/bg-header.png) repeat top;
  }

  /* line 148, sass/_fall.scss */
  header #about p {
    color: #fffff7;
  }

  /* line 152, sass/_fall.scss */
  #site-title {
    color: #fff;
  }

  /* line 156, sass/_fall.scss */
  #site-title a {
    color: #fff;
  }

  /* line 160, sass/_fall.scss */
  .tagline {
    color: #ccc;
  }

  /* line 164, sass/_fall.scss */
  #search-container {
    background-color: #cc9933;
  }

  /* line 168, sass/_fall.scss */
  #search-container a {
    color: #fffff7;
  }

  /* line 172, sass/_fall.scss */
  #search-container a:visited {
    color: #221111;
  }

  /* line 176, sass/_fall.scss */
  #search-container a:hover {
    color: #fffff7;
  }

  /* line 180, sass/_fall.scss */
  #search-container input[type="submit"],
  .show-advanced {
    background-color: #770000;
    color: #fffff7;
  }

  /* line 186, sass/_fall.scss */
  #advanced-search-link a {
    color: #345;
  }

  /* @end */
  /* @group ----- FALL: Navigation ----- */
  /* line 192, sass/_fall.scss */
  #primary-nav {
    position: relative;
    background-color: #fffff7;
  }

  /* line 196, sass/_fall.scss */
  #primary-nav ul a {
    background: url(../images/fall/bullet-omeka.png) no-repeat 0 50%;
  }

  /* line 200, sass/_fall.scss */
  #primary-nav li,
  .navigation li {
    color: #221111;
  }

  /* line 205, sass/_fall.scss */
  #primary-nav a,
  .navigation a {
    color: #221111;
  }

  /* line 210, sass/_fall.scss */
  #primary-nav a:hover,
  .navigation a:hover {
    color: #cc9933;
  }

  /* line 215, sass/_fall.scss */
  #primary-nav .current a,
  .exhibits #primary-nav li.nav-exhibits a,
  .collections #primary-nav li.nav-collections a,
  .about #primary-nav li.nav-about a,
  .items #primary-nav li.nav-items a {
    color: #cc9933;
    background-color: #fffff7;
  }

  /* line 224, sass/_fall.scss */
  .pagination li a {
    color: #221111;
  }

  /* line 228, sass/_fall.scss */
  .pagination li:hover {
    background-color: #a6a6a6;
  }

  /* @end */
  /* @group ----- FALL: Footer ----- */
  /* line 236, sass/_fall.scss */
  footer {
    background: #fffff7 url(../images/fall/bg-footer.png) repeat-x left top;
  }

  /* line 240, sass/_fall.scss */
  footer .navigation li {
    background: transparent url(../images/fall/bullet-omeka.png) no-repeat scroll 0 50%;
  }

  /* line 244, sass/_fall.scss */
  footer .navigation a {
    color: #221111;
  }

  /* line 248, sass/_fall.scss */
  footer .navigation .current a {
    color: #b3ad9c;
  }

  /* line 252, sass/_fall.scss */
  footer footer-text {
    color: #000;
  }

  /* @end */
  /* @group ----- FALL: Items/Tags ----- */
  /* @group ----- FALL: Search ----- */
  /* line 262, sass/_fall.scss */
  #search-filters li,
  #item-filters li {
    background-color: #e6cc99;
  }

  /* @end */
  /* line 269, sass/_fall.scss */
  .hTagcloud a {
    background-color: #cc9933;
    text-decoration: none;
  }

  /* line 274, sass/_fall.scss */
  .hTagcloud a:visited {
    background-color: #ac8e53;
  }

  /* @end */
  /* line 280, sass/_fall.scss */
  .exhibit .tags {
    color: #221111;
  }

  /* line 284, sass/_fall.scss */
  #show-sidebar {
    background-color: #eed;
    border-top: 1px dashed #b3ad9c;
    border-bottom: 1px dashed #b3ad9c;
  }

  /* line 290, sass/_fall.scss */
  .item-type {
    color: #554433;
  }

  /* line 294, sass/_fall.scss */
  .secondary-nav ul,
  #sort-links,
  .browse .item-meta {
    border-color: #fffff7;
  }

  /*Spring Styles*/
  /* line 1001, sass/_screen.scss */
  .spring {
    /* @group ----- SPRING: Generic HTML elements ----- */
    /* @end */
    /* @group ----- SPRING: Reusable classes ----- */
    /* @end */
    /* @group ----- SPRING: Header ----- */
    /* @end */
    /* @group ----- SPRING: Navigation ----- */
    /* @end */
    /* @group ----- SPRING: Footer ----- */
    /* @end */
    /* @group ----- SPRING: Search ----- */
    /* @end */
    /* @group ----- SPRING: Home ----- */
    /* @end */
  }
  /* line 5, sass/_spring.scss */
  .spring th {
    border-color: #ccdd44;
  }
  /* line 9, sass/_spring.scss */
  .spring blockquote {
    background-color: #ccdd44;
  }
  /* line 13, sass/_spring.scss */
  .spring a:link.button,
  .spring .button a:link,
  .spring a:visited.button,
  .spring .button a:visited {
    color: #ccdd44;
  }
  /* line 20, sass/_spring.scss */
  .spring button,
  .spring a.button,
  .spring .button a,
  .spring input[type="submit"] {
    background-color: #555e11;
    color: #fff;
  }
  /* line 27, sass/_spring.scss */
  .spring button:hover,
  .spring a.button:hover,
  .spring .button a:hover,
  .spring input[type="submit"]:hover {
    background-color: #909e1d;
  }
  /* line 32, sass/_spring.scss */
  .spring body {
    color: #663344;
    background-color: #2b1520;
  }
  /* line 37, sass/_spring.scss */
  .spring p,
  .spring .exhibit .description,
  .spring .exhibit-item,
  .spring .exhibit-text {
    color: #1a030c;
  }
  /* line 44, sass/_spring.scss */
  .spring p.sitetitle a,
  .spring p.tagline {
    color: #fff;
  }
  /* line 49, sass/_spring.scss */
  .spring a:link {
    color: #68a8a8;
  }
  /* line 53, sass/_spring.scss */
  .spring a:visited {
    color: #7a9696;
  }
  /* line 57, sass/_spring.scss */
  .spring a:active,
  .spring a:hover {
    color: #663344;
  }
  /* line 62, sass/_spring.scss */
  .spring label,
  .spring .label {
    color: #000;
  }
  /* line 71, sass/_spring.scss */
  .spring #content > h1:first-child,
  .spring #primary-nav ul,
  .spring #primary-nav a {
    border-color: #ccdd44;
  }
  /* line 77, sass/_spring.scss */
  .spring #wrap {
    background: white url(../images/spring/bg-top.png) top left repeat-x;
  }
  /* line 81, sass/_spring.scss */
  .spring #featured-item h2,
  .spring #featured-exhibit h2 {
    color: #fff;
  }
  /* line 86, sass/_spring.scss */
  .spring .tags a:link {
    color: #68a8a8;
  }
  /* line 88, sass/_spring.scss */
  .spring .tags a:hover {
    color: #ccdd44;
  }
  /* line 94, sass/_spring.scss */
  .spring header {
    border-top-color: #ccdd44;
    background: #bb3344 url(../images/spring/bg-header.png) repeat top;
  }
  /* line 98, sass/_spring.scss */
  .spring header #about p {
    color: #fff;
  }
  /* line 102, sass/_spring.scss */
  .spring header #about .more a {
    color: #707066;
  }
  /* line 106, sass/_spring.scss */
  .spring header #about .more a:hover {
    color: #ccdd44;
  }
  /* line 110, sass/_spring.scss */
  .spring header h1 a {
    color: #fff;
  }
  /* line 113, sass/_spring.scss */
  .spring #search-container {
    background-color: #ccdd44;
  }
  /* line 116, sass/_spring.scss */
  .spring #search-container a {
    color: #fff;
  }
  /* line 120, sass/_spring.scss */
  .spring #search-container a:visited {
    color: #1a030c;
  }
  /* line 124, sass/_spring.scss */
  .spring #search-container a:hover {
    color: #fff;
  }
  /* line 129, sass/_spring.scss */
  .spring #advanced-form {
    border-color: #ccdd44;
  }
  /* line 132, sass/_spring.scss */
  .spring #advanced-form a:link {
    color: #68a8a8;
  }
  /* line 136, sass/_spring.scss */
  .spring #advanced-form a:visited {
    color: #7a9696;
  }
  /* line 140, sass/_spring.scss */
  .spring #advanced-form a:active,
  .spring #advanced-form a:hover {
    color: #663344;
  }
  /* line 146, sass/_spring.scss */
  .spring #submit_search {
    color: #fff;
  }
  /* line 154, sass/_spring.scss */
  .spring #primary-nav {
    background-color: #fff;
  }
  /* line 157, sass/_spring.scss */
  .spring #primary-nav a {
    background: url(../images/spring/bullet-omeka.png) no-repeat 0 50%;
  }
  /* line 162, sass/_spring.scss */
  .spring #primary-nav li,
  .spring .navigation li {
    color: #1a030c;
  }
  /* line 167, sass/_spring.scss */
  .spring #primary-nav a,
  .spring .navigation a {
    color: #1a030c;
  }
  /* line 172, sass/_spring.scss */
  .spring #primary-nav a:hover,
  .spring .navigation a:hover {
    color: #ccdd44;
  }
  /* line 177, sass/_spring.scss */
  .spring #primary-nav .current a,
  .spring .exhibits #primary-nav li.nav-exhibits a,
  .spring .collections #primary-nav li.nav-collections a,
  .spring .about #primary-nav li.nav-about a,
  .spring .items #primary-nav li.nav-items a {
    color: #707066;
    background-color: #fff;
  }
  /* line 186, sass/_spring.scss */
  .spring .pagination li {
    background-color: #ccdd44;
  }
  /* line 189, sass/_spring.scss */
  .spring .pagination li:hover {
    background-color: #a3b421;
  }
  /* line 194, sass/_spring.scss */
  .spring .pagination a {
    color: #1a030c;
  }
  /* line 197, sass/_spring.scss */
  .spring .pagination a:hover {
    color: #fff !important;
  }
  /* line 206, sass/_spring.scss */
  .spring footer {
    background: white url(../images/spring/bg-footer.png) repeat-x left top;
  }
  /* line 209, sass/_spring.scss */
  .spring footer .navigation {
    background: #fff;
  }
  /* line 213, sass/_spring.scss */
  .spring footer .navigation li {
    background: transparent url(../images/spring/bullet-omeka.png) no-repeat scroll 0 50%;
  }
  /* line 217, sass/_spring.scss */
  .spring footer .navigation a {
    color: #1a030c;
  }
  /* line 221, sass/_spring.scss */
  .spring footer .navigation .current a {
    color: #707066;
  }
  /* line 225, sass/_spring.scss */
  .spring footer #footer-text {
    color: #000;
  }
  /* line 234, sass/_spring.scss */
  .spring #search-filters li,
  .spring #item-filters li {
    background-color: #e9f1b0;
  }
  /* line 243, sass/_spring.scss */
  .spring .featured-box h2 {
    color: #1a030c;
    border-bottom: 1px dashed white;
  }
  /* line 247, sass/_spring.scss */
  .spring .featured-box.title,
  .spring .featured-box.title a,
  .spring .featured-box.title a:visited {
    color: #fff;
  }
  /* line 252, sass/_spring.scss */
  .spring .featured-box img {
    border: 10px solid #fff;
  }
  /* line 253, sass/_spring.scss */
  .spring #featured-exhibit,
  .spring #featured-item {
    background-color: #5c8181;
  }
  /* line 258, sass/_spring.scss */
  .spring #featured-item a,
  .spring #featured-item a:visited {
    color: #fff;
  }
  /* line 263, sass/_spring.scss */
  .spring #featured-collection {
    background-color: #ccdd44;
  }
  /* line 264, sass/_spring.scss */
  .spring #sidebar-featured-item {
    background: #544;
  }
  /* line 265, sass/_spring.scss */
  .spring .featured img {
    border: 1px solid #bfbfbf;
    background: #fff;
  }
  /* line 270, sass/_spring.scss */
  .spring #featured-item a:hover {
    color: #ccdd44;
  }
  /* line 274, sass/_spring.scss */
  .spring #show-sidebar {
    background-color: #eed;
    border-top: 1px dashed #707066;
    border-bottom: 1px dashed #707066;
  }
  /* line 280, sass/_spring.scss */
  .spring .exhibit-section-nav a,
  .spring .exhibit-page-nav a {
    color: #688;
  }
  /* line 285, sass/_spring.scss */
  .spring .field {
    border-bottom: 1px dashed #fff;
  }
  /* line 287, sass/_spring.scss */
  .spring .field .textinput,
  .spring .field select {
    background-color: #fff;
  }
  /* line 292, sass/_spring.scss */
  .spring textarea#rights {
    color: #444;
  }
  /* line 296, sass/_spring.scss */
  .spring ul.title-list li {
    color: #543;
  }
  /* line 298, sass/_spring.scss */
  .spring #secondary .exhibit-section-nav a:hover,
  .spring #secondary .exhibit-section-nav .current a,
  .spring #secondary .exhibit-page-nav a:hover,
  .spring #secondary .exhibit-page-nav .current a {
    color: #634;
  }
  /* line 304, sass/_spring.scss */
  .spring .popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 304, sass/_spring.scss */
  .spring .popular a:visited {
    color: #777;
  }
  /* line 305, sass/_spring.scss */
  .spring .v-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 305, sass/_spring.scss */
  .spring .v-popular a:visited {
    color: #777;
  }
  /* line 306, sass/_spring.scss */
  .spring .vv-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 306, sass/_spring.scss */
  .spring .vv-popular a:visited {
    color: #777;
  }
  /* line 307, sass/_spring.scss */
  .spring .vvv-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 307, sass/_spring.scss */
  .spring .vvv-popular a:visited {
    color: #777;
  }
  /* line 308, sass/_spring.scss */
  .spring .vvvv-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 308, sass/_spring.scss */
  .spring .vvvv-popular a:visited {
    color: #777;
  }
  /* line 309, sass/_spring.scss */
  .spring .vvvvv-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 309, sass/_spring.scss */
  .spring .vvvvv-popular a:visited {
    color: #777;
  }
  /* line 310, sass/_spring.scss */
  .spring .vvvvvv-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 310, sass/_spring.scss */
  .spring .vvvvvv-popular a:visited {
    color: #777;
  }
  /* line 311, sass/_spring.scss */
  .spring .vvvvvvv-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 311, sass/_spring.scss */
  .spring .vvvvvvv-popular a:visited {
    color: #777;
  }
  /* line 312, sass/_spring.scss */
  .spring .vvvvvvvv-popular a {
    color: #68a8a8;
    text-decoration: none;
  }
  /* line 312, sass/_spring.scss */
  .spring .vvvvvvvv-popular a:visited {
    color: #777;
  }
  /* line 313, sass/_spring.scss */
  .spring .pagination li a {
    color: #1a030c;
  }
  /* line 314, sass/_spring.scss */
  .spring .pagination_current,
  .spring .pagination li a:hover,
  .spring .pagination ul li.pagination_next a,
  .spring .pagination ul li.pagination_last a,
  .spring .pagination ul li.pagination_previous a,
  .spring .pagination ul li.pagination_first a {
    color: #ccdd44;
  }
  /* line 322, sass/_spring.scss */
  .spring .pagination ul li.pagination_next a:hover,
  .spring .pagination ul li.pagination_last a:hover,
  .spring .pagination ul li.pagination_previous a:hover,
  .spring .pagination ul li.pagination_first a:hover {
    color: #68a8a8;
  }
  /* line 328, sass/_spring.scss */
  .spring .item-img img {
    border: 1px solid #ccdd44;
  }
  /* line 329, sass/_spring.scss */
  .spring .item-type {
    color: #554433;
  }
  /* line 331, sass/_spring.scss */
  .spring .secondary-nav ul,
  .spring #sort-links,
  .spring #search-filters ul,
  .spring #item-filters ul,
  .spring .items .field,
  .spring .item {
    border-color: #bfbfbf;
  }
  /* line 340, sass/_spring.scss */
  .spring #items.show .item {
    border-color: transparent;
  }
  /* line 344, sass/_spring.scss */
  .spring p.view-items-link,
  .spring p.view-items-link a {
    color: #554;
  }
  /* line 348, sass/_spring.scss */
  .spring .meta-main {
    border-top: 1px dashed #bfbfbf;
  }
  /* line 349, sass/_spring.scss */
  .spring .meta-main .runinHead {
    color: #543;
  }
  /* line 350, sass/_spring.scss */
  .spring #secondary .featured-box p .title,
  .spring #secondary .featured-box p .title a,
  .spring #primary .featured-box p .title,
  .spring #primary .featured-box p .title a:visited,
  .spring #secondary .featured-box p .title a:visited,
  .spring #secondary .featured-box p .title a,
  .spring #primary .featured-box p .title a {
    color: #fff;
  }
  /* line 359, sass/_spring.scss */
  .spring #sidebar-featured-item .description p,
  .spring #sidebar-featured-item h2,
  .spring #sidebar-featured-item a {
    color: #fff;
  }
  /* line 364, sass/_spring.scss */
  .spring #exhibit-pages {
    background-color: #e9f1b0;
  }
  /* line 367, sass/_spring.scss */
  .spring #exhibit-pages > ul > li,
  .spring #exhibit-pages a {
    border-color: #ccdd44;
  }
  /* line 373, sass/_spring.scss */
  .spring .show #exhibit-pages > ul > li:first-of-type {
    background-color: #7c8919;
  }
  /* line 376, sass/_spring.scss */
  .spring .show #exhibit-pages > ul > li:first-of-type a {
    color: #ccdd44;
  }
  /* line 381, sass/_spring.scss */
  .spring .show #exhibit-pages > ul > li:nth-of-type(3) {
    background-color: #fbfcf1;
  }
}
@media screen and (min-width: 560px) and (min-width: 39em) {
  /* line 3, sass/_screen_560.scss */
  #wrap {
    *zoom: 1;
    max-width: 39em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
  #wrap:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media screen and (min-width: 960px) {
  /* @group ----- Reusable classes ----- */
  /* line 6, sass/_screen_full.scss */
  #wrap {
    *zoom: 1;
    max-width: 59em;
    _width: 59em;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../.rvm/gems/ruby-2.0.0-p0/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
  #wrap:after {
    content: "";
    display: table;
    clear: both;
  }

  /* line 10, sass/_screen_full.scss */
  #outputs {
    text-align: right;
  }

  /* @end */
  /* @group ----- Header ----- */
  /* line 18, sass/_screen_full.scss */
  header {
    position: relative;
    min-height: 6em;
  }

  /* line 23, sass/_screen_full.scss */
  #title-tagline {
    width: 70%;
  }

  /* line 27, sass/_screen_full.scss */
  #search-container {
    position: absolute;
    bottom: 0;
    right: 1.69492%;
    width: 30%;
    padding: 0.375em;
  }

  /* @end */
  /* @group ----- Footer ----- */
  /* line 39, sass/_screen_full.scss */
  footer {
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
    padding: 3em 1.69492% 0 1.69492%;
  }

  /* @end */
  /* @group ----- Navigation ----- */
  /* line 49, sass/_screen_full.scss */
  #primary-nav li {
    float: left;
    width: auto;
    border-bottom-width: 0;
    border-bottom-style: solid;
    padding-bottom: 0em;
    margin-right: 20px;
    padding-top: 0;
  }
  /* line 56, sass/_screen_full.scss */
  #primary-nav li:last-of-type {
    border-bottom-width: 0;
    border-bottom-style: solid;
    padding-bottom: 0em;
  }
  /* line 61, sass/_screen_full.scss */
  #primary-nav > ul {
    padding-top: 1.125em;
    border-bottom-width: 0.3125em;
    border-bottom-style: solid;
    padding-bottom: 0.8125em;
  }
  /* line 66, sass/_screen_full.scss */
  #primary-nav .sub-nav {
    padding: 0 7px 0.75em;
    top: 2.25em;
  }
  /* line 71, sass/_screen_full.scss */
  #primary-nav .sub-nav.open {
    min-width: 13em;
  }

  /* line 76, sass/_screen_full.scss */
  #primary-nav + * {
    clear: both;
  }

  /* line 80, sass/_screen_full.scss */
  .pagination {
    clear: none;
  }

  /* @end */
  /* @group ----- Home ----- */
  /* line 88, sass/_screen_full.scss */
  #featured-item,
  #featured-collection,
  #featured-exhibit {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
    margin-right: 1.69492%;
    padding: 0.75em 1.69492%;
    margin-bottom: 1.5em;
  }

  /* line 98, sass/_screen_full.scss */
  #recent-items {
    width: 32.20339%;
    display: inline-block;
    padding: 0;
    margin: 0;
  }

  /* @end */
  /* @group ----- Items/Browse ----- */
  /* line 109, sass/_screen_full.scss */
  .items.browse #featured-item {
    width: 100%;
    margin-left: 0%;
    padding-left: 0%;
    margin-right: 0%;
    padding-right: 0%;
    padding: 1.5em 1.69492%;
  }
  /* line 114, sass/_screen_full.scss */
  .items.browse #featured-item h3 {
    font-size: 24px;
    margin-bottom: 1em;
  }

  /* line 120, sass/_screen_full.scss */
  .items.browse .pagination {
    float: left;
    margin-bottom: 1.5em;
  }

  /* line 125, sass/_screen_full.scss */
  .items.browse .secondary-nav {
    margin-bottom: 0;
  }

  /* line 129, sass/_screen_full.scss */
  #sort-links {
    clear: none;
    text-align: right;
    padding: 1.5em 0;
  }

  /* @end */
  /* @group ----- Items/Show ----- */
  /* line 139, sass/_screen_full.scss */
  .items.show .hentry {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 143, sass/_screen_full.scss */
  .items.show #show-sidebar {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    clear: none;
    padding: 0 1.69492%;
  }

  /* line 149, sass/_screen_full.scss */
  .item-pagination {
    clear: both;
  }

  /* @end */
  /* @group ----- Exhibits ----- */
  /* line 157, sass/_screen_full.scss */
  .exhibits #content > * {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
    display: inline;
  }

  /* line 161, sass/_screen_full.scss */
  .exhibits #content > #exhibit-pages {
    width: 32.20339%;
    float: right;
    margin-right: 0;
    *margin-left: -1em;
    display: inline;
    margin-top: 0.75em;
  }

  /* line 166, sass/_screen_full.scss */
  .summary #exhibit-pages {
    margin-top: 0.75em;
  }

  /* line 170, sass/_screen_full.scss */
  #exhibit-child-pages + .exhibit-block {
    clear: none;
  }

  /* @end */
}
@media print {
  /* line 1, sass/print.scss */
  body {
    font: 12px Georgia, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
  }

  /* line 4, sass/print.scss */
  #content {
    width: 100%;
    margin: 0;
    float: none;
  }

  /* line 9, sass/print.scss */
  h1,
  #site-title {
    font-size: 16pt;
    font-weight: bold;
  }

  /* line 14, sass/print.scss */
  h2 {
    font-size: 14pt;
    font-style: italic;
  }

  /* line 18, sass/print.scss */
  h3 {
    font-size: 14pt;
  }

  /* line 21, sass/print.scss */
  h4 {
    font-weight: bold;
  }

  /* line 24, sass/print.scss */
  h5 {
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase;
  }

  /* line 29, sass/print.scss */
  a:link:after {
    content: " (" attr(href) ") ";
    font-size: 80%;
  }

  /* line 33, sass/print.scss */
  #search-container,
  #primary-nav,
  #header-image,
  .navigation,
  .pagination,
  #exhibit-page-navigation,
  .exhibit-section-nav,
  .exhibit-page-nav {
    display: none;
  }

  /* line 43, sass/print.scss */
  blockquote {
    margin: 10pt 0 0 0;
    font-style: italic;
  }
}
