
/* @group ----- Reusable classes ----- */

#wrap {
    max-width: ($total-columns * $column-width) + (($total-columns - 1) * $gutter-width);
    margin: 0 auto;
}

#outputs {
    text-align: right;
    clear: both;
}

/* @end */

/* @group ----- Header ----- */

header {
    position: relative;
    min-height: (4 * $spacing-unit);
}

#title-tagline {
    width: 70%;
}

#search-container {
    position: absolute;
    bottom: 0;
    right: gutter(12);
    width: 30%;
    padding: (.25 * $spacing-unit);
    
    &.with-advanced .show-advanced, button {
        top: (.25 * $spacing-unit);
    }
}

/* @end */

/* @group ----- Footer ----- */

footer {
    @include bleed(0);
    padding: (2 * $spacing-unit) gutter(12) 0 gutter(12);
}

/* @end */

/* @group ----- Navigation ----- */

#primary-nav {
    li {
        float: left;
        width: auto;
        border-bottom: 0;
        margin-right: 20px;
        padding-top: 0;
        
        &:last-of-type {
            border-bottom: 0;
        }
    }
    
    & > ul {
        padding-top: (.75 * $spacing-unit);
        padding-bottom: ((.75 * $spacing-unit) - 1px);
        border-bottom: 1px solid;
    }
    
    .sub-nav {
        padding: 0 0 (.5 * $spacing-unit);
        top: (1.5 * $spacing-unit);
   }
    
    .sub-nav.open {
        min-width: 13em;
    }
}

#primary-nav + * {
    clear: both;
}

.pagination {
    clear: none;
}

/* @end */

/* @group ----- Home ----- */

#featured-item,
#featured-collection,
#featured-exhibit {
    @include span(first 8 of 12);
    @include bleed(0);
    padding: (.5 * $spacing-unit) gutter(12);
    margin-bottom: $spacing-unit;
}

#recent-items {
    width: span(last 4 of 12);
    display: inline-block;
    padding: 0;
    margin: 0;
    
    img {
        height: (2.5 * $spacing-unit);
    }
}

/* @end */

/* @group ----- Items/Browse ----- */

.items.browse #featured-item {
    padding: (1 * $spacing-unit) gutter(12);
    @include span(last 4 of 12);
    
    h3 {
        font-size: 1.5 * $base-font-size;
        margin-bottom: $spacing-unit;
    }
}

.items.browse .items-list {
    @include span(first 8 of 12);
    
    .item:last-child {
        margin-bottom: (.5 * $spacing-unit);
    }
}

.items.browse .pagination-nav {
    float: left;
    margin-bottom: (.5 * $spacing-unit);
}

.items.browse .pagination {
    margin-bottom: (0 * $spacing-unit);
    clear: both;
}

.items.browse .secondary-nav {
    margin-bottom: 0;
}

.pagination-nav {
    margin-right: 1em;
}

.pagination-nav + #sort-links {
    padding-bottom: $spacing-unit;
}

#sort-links {
    clear: none;
    padding: (.5 * $spacing-unit) 0;
}

/* @end */

/* @group ----- Items/Show ----- */

.items.show .hentry {
    @include span(8 of 12);
}

.items.show #show-sidebar {
    @include span(last 4 of 12);
    clear: none;
    padding: 0 gutter(12);
}

.item-pagination {
    clear: both;
}

/* @end */

/* @group ----- Exhibits ----- */

.exhibits #content > * {
    @include span(8 of 12);
}

.exhibits #content > h1:first-of-type {
    margin-top: 0;
}

.exhibits #content > #exhibit-pages {
    width: span(last 4 of 12);
    display: inline-block;
    float: none;
    margin: 0;
}

#exhibit-child-pages + .exhibit-block,
#exhibit-page-navigation {
    clear: none;
}

/* @end */
